@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --clr-text-dark-grayish-blue: hsl(237, 12%, 33%);
  --clr-text-grayish-blue: hsl(240, 6%, 50%);

  --clr-text-desaturated: hsl(238, 29%, 16%);
  --clr-text-soft-red: hsl(14, 88%, 65%);

  --clr-bg-primary: hsl(273, 75%, 66%);
  --clr-bg-secondary: hsl(240, 73%, 65%);

  --clr-dividers: hsl(240, 5%, 91%);

  --fs-200: 0.75rem;

  --fw-400: 400;
  --fw-700: 700;

  --desktop-breakpoint: 90em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: "Kumbh Sans";
  line-height: 1.5;
  font-size: var(--fs-200);
  margin: 0;
}

/* .arrow-text::after {
    content: url(images/icon-arrow-down.svg);
    width: 3em;
    height: 3em;
} */

.columns {
  display: flex;
  flex-flow: column;
}

.columns > * {
  flex-basis: 100%;
}

.columns > * + * {
  margin: 1em 0 0 0;
}

[class*="col-"] {
  flex-basis: var(--flex-col, 100%);
}

.col-2 {
  --flex-col: 30%;
}

.col-3 {
  --flex-col: 70%;
}

.col-4 {
  --flex-col: 25%;
}

/* width: 143px / 16 = 8.9375
height: 450px / 16 = 28.125
*/

@media screen and (min-width: 71.875em) {
  .bg-img::before {
    content: url(images/illustration-box-desktop.svg);
    position: absolute;
    left: -6.5em;
    top: 23em;
  }
}

.accordion-container {
  width: 100%;
  min-height: 100vh;
  max-width: var(--desktop-breakpoint);
  background: linear-gradient(var(--clr-bg-primary), var(--clr-bg-secondary));
  margin: 0 auto;
  display: flex;
}

.content-container {
  width: 85%;
  height: 60vh;
  border: 1px solid red;
  margin: auto auto;
  border-radius: 2em;
  background-color: var(--clr-dividers);
  box-shadow: 0 0 5rem 0 rgba(142, 13, 146, 0);
}

/* background img */

/* mobile layout */

.image {
  position: relative;
  transform: translateY(10em);
}

.image::before {
  content: url(images/illustration-box-desktop.svg);
  position: absolute;
  left: -5em;
}

.bg-img {
  background-image: url(images/bg-pattern-desktop.svg),
    url(images/illustration-woman-online-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, auto;
  background-position: right center, -3rem 9rem;
  position: relative;
}

.content-container picture {
  display: block;
  transform: translate(1.4em, -9em);
  position: absolute;
}

.bg-img {
  background-image: url(images/bg-pattern-mobile.svg);
  /* url(images/illustration-woman-online-mobile.svg); */
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center -1px;
}
