@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --clr-primary: hsl(185, 80%, 50%);
  --clr-secondary: hsl(229, 23%, 23%);
  --clr-tertiary: hsl(227, 10%, 46%);

  --clr-neutral: hsl(0, 0%, 59%);

  --fs-200: 1.125;

  --fw-400: 400;
  --fw-700: 700;

  --mobile-width: 23.4375em;
  --desktop-width: 90em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: "Kumbh Sans";
  line-height: 1.5;
  font-size: var(--fs-200);
  margin: 0;
}

.profile-cards {
  background: hsl(0, 0%, 59%);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.background {
  background-color: #fff;
  margin: 0 auto;
  width: 20rem;
  height: 23rem;
  position: relative;
  overflow: hidden;
  border-radius: 1em;
  box-shadow: 0 10px 6px -6px #777;
}

.foreground {
  background-color: var(--clr-primary);
  width: 20rem;
  height: 8rem;
  /* bottom: 0; */
  /* if we use position:absolute we want the background to have our --clr-primary color and foreground to have the #fff */
  /* position: absolute; */
}

.circle {
  background-image: url(images/image-victor.jpg);
  background-size: cover;
  background-position: center;
  width: 5em;
  height: 5em;
  background-color: red;
  margin: 0 auto;
  transform: translateY(-2.6em);
  border-radius: 50%;
}

.content {
  text-align: center;
  margin-bottom: 1rem;
}

.city {
  font-size: 0.9rem;
}

.light-gray,
.city {
  color: var(--clr-neutral);
}

.bottom-content {
  display: flex;
  border-top: 1px solid var(--clr-neutral);
  justify-content: space-evenly;
  text-align: center;
}

.bottom-content p {
  display: inline-flex;
  flex-direction: column;
  font-size: var(--fs-200);
  margin: 1.5em 0;
  font-weight: var(--fw-700);
}

.bottom-content span {
  font-size: 0.8rem;
  font-weight: var(--fw-400);
  color: var(--clr-neutral);
}
