@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Red+Hat+Text:wght@700&display=swap");
/* bright blue is the "All" view color */

/* 
*****Notes*****
### Primary

bright blue is the "All" view color
- Bright Blue: hsl(220, 98%, 61%)
checked bg and unchecked circle border
- Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)

### Neutral

### Light Theme

- Very Light Gray: hsl(0, 0%, 98%)//bg bottom TODO title color
- Very Light Grayish Blue: hsl(236, 33%, 92%)//input and todo bg
- Light Grayish Blue: hsl(233, 11%, 84%)//crossed out
- Dark Grayish Blue: hsl(236, 9%, 61%)//todo input placeholder, clear completed,left. weight 700 for active and completed view btn 
- Very Dark Grayish Blue: hsl(235, 19%, 35%)//drag and drop bottomsss

todo input 250,4,71
crossed out 240 4 78
todo list 240 5 65
item left, clear 252 3 63
active/completed 240 4 62
drag 250 3 64

### Dark Theme

 
- Very Dark Blue: hsl(235, 21%, 11%)// bg-bottom
- Very Dark Desaturated Blue: hsl(235, 24%, 19%) //input and todo bg
- Light Grayish Blue: hsl(234, 39%, 85%)//todo text
- Light Grayish Blue (hover): hsl(236, 33%, 92%) //todo text on hover
- Dark Grayish Blue: hsl(234, 11%, 52%) //crossed out
- Very Dark Grayish Blue: hsl(233, 14%, 35%) //todo input placeholder, clear completed,left. weight 700 for active and completed view btn
- Very Dark Grayish Blue: hsl(237, 14%, 26%) //drag and drop bottom of UI

todo input 235 10 44
crossed out 235 14 35
todo list 235 28 83
item left, clear 236 14 37
active/completed 238 14 42
drag 236 8 38

*/

:root {
  /* primary */
  --color-primary-bright-blue: hsl(220, 98%, 61%);
  --color-primary-title: hsl(300, 100%, 99%);
  --color-primary-first-half: hsl(192, 100%, 67%);
  --color-primary-second-half: hsl(280, 87%, 65%);
  /* light theme */
  /* todo inpute, btn views and clear similar shade */
  /* --color-lighttheme-very-light-grayish-blue: hsl(236, 33%, 92%); */
  /* crossed out and left item similar shade */
  --color-lighttheme-bottom-bg: hsl(0, 0%, 98%);
  --color-lighttheme-todo-list-bg: hsl(0, 0%, 100%);
  --color-lighttheme-checked-crossed-out: hsl(233, 11%, 84%);
  --color-lighttheme-hover-todoitem: hsl(233, 9%, 35%);
  --color-lighttheme-typing-input-hover-btns: hsl(240, 5%, 38%);
  --color-lighttheme-todoinput-completed-btns-below: hsl(236, 9%, 61%);
  --color-lighttheme-todo-listitem: blue;
  /* --color-lighttheme-todo-listitem: hsl(235, 19%, 35%); */
  /* dark theme */
  --color-darktheme-bottom-bg: hsl(235, 21%, 11%);
  --color-darktheme-todo-list-bg: hsl(235, 24%, 19%);
  --color-darktheme-todo-text-typing-btn-hover: hsl(234, 39%, 85%);
  --color-darktheme-hover: hsl(236, 33%, 92%);
  --color-darktheme-todo-input: hsl(234, 11%, 52%);
  --color-darktheme-clear-active-complete-below: hsl(233, 14%, 35%);
  --color-darktheme-checked-crossed-out: hsl(237, 14%, 26%);
  /* below works */
  --todo-input-foreground: var(
    --color-lighttheme-todo-listitem,
    var(--color-darktheme-todo-text-typing-btn-hover)
  );
  /* or */
  /* --todo-input-foreground:var(--color-lighttheme-todo-listitem) */

  --box-shadow: 0px 0.3px 0.7px rgba(0, 0, 0, 0.02),
    0px 0.7px 1.7px rgba(0, 0, 0, 0.028), 0px 1.4px 3.3px rgba(0, 0, 0, 0.035),
    0px 2.5px 5.8px rgba(0, 0, 0, 0.042), 0px 4.6px 10.9px rgba(0, 0, 0, 0.05),
    0px 11px 26px rgba(0, 0, 0, 0.07);

  /***** background *****/
  /* bg-img top and bg-color-bottom */
  /* todo input,todo listitem,items left/complete, views btns(mobile) */
  /***** foreground *****/
  /***** example for foreground: *****/
  /* --todo-input-foreground: var(--color-lighttheme-todo-listitem, var(--color-darktheme-todo-text-typing-btn-hover) */
  /* input placeholder, input typing, todo list text, items left, views btns(mobile)  
  todo list crossed-out, todo list hover, views btns and clear btn hover, text below todo list
  */

  /* headings */
  /* --font-family-poppins: "Poppins", sans-serif; */
  /* body, call-to-actions */
  --font-family-josefin: "Josefin Sans", sans-serif;
}

/* media query */

@media (prefers-color-scheme: dark) {
  :root {
    /* background: black; */
    /* dark theme */
    --color-darktheme-bottom-bg: hsl(235, 21%, 11%);
    --color-darktheme-todo-list-bg: hsl(235, 24%, 19%);
    --color-darktheme-todo-text-typing-btn-hover: red;
    /* --color-darktheme-todo-text-typing-btn-hover: hsl(234, 39%, 85%); */
    --color-darktheme-hover: hsl(236, 33%, 92%);
    --color-darktheme-todo-input: hsl(234, 11%, 52%);
    --color-darktheme-clear-active-complete-below: hsl(233, 14%, 35%);
    --color-darktheme-checked-crossed-out: hsl(237, 14%, 26%);

    /* below works */
    --todo-input-foreground: var(
      --color-darktheme-todo-text-typing-btn-hover,
      var(--color-lighttheme-todo-listitem)
    );
    /* or */
    /* --todo-input-foreground: var(--color-darktheme-todo-text-typing-btn-hover) */
  }
}

.darktheme {
}

/* 
put opacity on the backgroung-color: hsla()
not on the element
*/

/* margin collapse: when one of the element is block and the other element is inline-block
bottom margin on block and top margin on inline-block will not collapse. interesting
*/

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* code below is from inclusive design patterns */
/* html {
  font-size: calc(1em + 1vw);
} */

body {
  color: var(--col-primary-grayish-blue);
  font-family: var(--font-family-josefin);
  /* use color: revert for text that we dont want to be grayish blue */
  /* color: var(--color-neutral-grayish-blue); */
}

h1,
h2,
h3,
h4,
body,
ul,
hr {
  margin: 0;
  /* figure, dl, and dd have default margin */
  /* font-weight: 100; */
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  font-family: var(--font-family-poppins);
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--link-fg, var(--clr-neutral-black));
  font-weight: var(--fw-700);
  font-size: var(--fs-300);
}

a:hover,
a:focus {
  /* text-decoration: underline; */
}

a:focus {
  outline: 3px solid rgb(9, 138, 180);
  /* outline-offset: 2px; */
}

img {
  /* using object-fit for images. we have to set a height or a min-height on the image and the width of 100% 
  exception to the rule of setting a height. we can sometime use it on a child element.
  */
  max-width: 100%;
  /* we use max-width: 100% so when we have an img element inside of a div and we want to use flex which means the div will be a flex item
    the img will shrink and grow as its parent element shrink and grows
    */
  /* use display: block so our img fits the container.
    when we didnt have display: block on img element the image did not fill the container.
    there were some white space
    */
  display: block;
  height: auto;
}

ul[role],
li[role] {
  list-style: none;
  padding: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  border: none;
}

/* button {

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* reset */

/* utilities */

/* skip link using attr selector */

[href="#main-content"] {
  position: absolute;
  top: 0;
  right: 100%; /* moves off screen */
}
[href="#main-content"]:focus {
  right: auto;
}

/* skip link using attr selector */

/* we can use min-height on the element we want its height to be 100% */
html,
body {
  height: 100%;
}
/* we can use min-height on the element we want its height to be 100% */

/* container wrapper */

.max-width {
  /* or the width we want our container/parent element to be */
  max-width: 1250px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  /* padding-inline-start: 16px;
  padding-inline-end: 16px; */
}

/* @media screen and (min-width: 70rem) {
  .max-width {
    max-width: 550px;
  }
} */

.text-max-width-wrapper {
  max-width: 150px;
  margin-inline: auto;
}

/* container wrapper */

.flow-content > * + * {
  margin: var(--gap, 8px) 0 0 0;
}

/* @media screen and (min-width: 70rem){

} */

.columns {
  display: flex;
  flex-direction: column;
  /* flex-flow: column; */
}

.columns > * {
  /* flex:1 => flex-basis will be 0px */
  flex: 1;
  flex-basis: 100%;
}

[class*="col-"] {
  flex-basis: var(--col-basis, 100%);
}

.col-1 {
  --col-basis: 25%;
}
.col-2 {
  --col-basis: 50%;
}
.col-3 {
  --col-basis: 75%;
}

[class*="bg-"] {
  background-color: var(--bg, hsl(0, 100%, 100%));
  background-image: var(--bg-img, hsl(0, 100%, 100%));
  color: var(--fg, hsl(0, 0%, 0%));
}

/* change for next project */

[class*="-btn"] {
  padding: 0;
  background: transparent;
  /* background-color: var(--btn-bg); */
  /* background-image: var(--btn-bg-img, hsl(0, 100%, 100%)); */
  /* text-transform: uppercase; */
  /* color: var(--btn-fg, hsl(0, 100%, 100%)); */
  /* padding-block: 16px;
  margin-block-start: 34px;
  border-radius: 6px; */
  /* padding: 12px;
  padding-inline: 46px;
  border-radius: 100vw; */
}

.bg-dark {
  /* --bg: ; */
  --bg-img: var(--col-bg-image);
  --fg: var(--col-neutral-very-grayish-blue);
}

.bg-light {
  --bg: var(--col-neutral-very-grayish-blue);
  --fg: var(--col-neutral-grayish-blue);
}

/* .btn-primary .front-of-button {
  --btn-bg: var(--col-pri-strong-cyan);
}

.btn-primary.back-of-button {
  --btn-bg: var(--col-pri-back-bg);
}

.btn-secondary .front-of-button {
  --btn-bg: var(--col-pri-light-blue);
}

.btn-secondary.back-of-button {
  --btn-bg: var(--col-sec-back-bg);
} */

.btn-light {
  /* --btn-bg: ; */
  /* --fg is declared in .bg-dark which is applied to the parent element of the element that has .btn-light */
  /* <div class="bg-dark">
      <button class="btn-light">hello</button>
    </div> */
  /* since <button> is a child of div with .bg-dark we can use --fg on div children */
  --btn-bg: var(--col-neutral-white);
  --btn-fg: var(--col-pri-pink);
}

.btn-dark {
  --btn-bg-img: var(--col-bg-image);
  --btn-bg: ;
  --btn-fg: var(--col-neutral-very-grayish-blue);
}

.btn-accent {
  font-size: 0.75rem;
  font-weight: 700;

  padding: 12px;
  padding-inline: 56px;
  border-radius: 100vw;

  box-shadow: var(--box-shadow);

  --btn-bg: var(--col-pri-pink);
  --btn-fg: var(--col-neutral-white);
}

/* themes */

[class*="-theme"] {
  background-color: var(--theme-bg);
  color: var(--theme-fg);
}

.dark-theme {
  background-color: var(--dark-bg);
  color: var(--dark-fg);
  --dark-bg: var(--first-color);
}

.light-theme {
  background-color: var(--light-bg);
  color: var(--light-fg);
}

.accent-theme {
  background-color: var(--accent-bg);
  color: var(--accent-fg);
}

/* .light-theme {
  background-color: var(--light-theme-bg);
  color: var(--light-theme-fg);
}

.dark-theme {
  background-color: var(--dark-theme-bg);
  color: var(--dark-theme-fg);
} */

.low-bold {
  font-weight: 400;
}

.high-bold {
  font-weight: 700;
}

.uppercase-text {
  text-transform: uppercase;
}

.custom-margin {
  margin-block-start: 120px;
  margin-inline-start: 24px;
}

/* .btn-light:hover,
.btn-light:focus {
  background: transparent;
  color: var(--fg);
  border: 0.1px solid currentColor;
} */

.btn-dark:hover,
.btn-dark:focus {
  background: transparent;
  color: var(--col-pri-button-bg);
  border: solid currentColor;
}

button:hover,
a:hover {
  cursor: pointer;
}

/* test out [class*=btn-]{} 
.btn-light{
    --bg
    --fg
}
.btn-dark{
    --bg
    --fg
} 
*/
/* hide h2 which are title for our section element */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* .visually-hidden{
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px)
} */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.skip-link {
  display: none;
  border: 1px solid red;
  padding-block: 16px;
  padding-inline: 32px;
}

@media screen and (min-width: 70rem) {
  .skip-link {
    display: inline-block;
  }
}

/* individual sections */
main {
  min-height: 100%;
}

/* social media icons */

.social-media-icons {
  margin-block: 30px;
  margin-block-start: auto;
  /* we had border around app-style-wrapper
  which did not allow for margin-collapse with starting date button
  and container for social media icon
  had to use margin-block-start on this element
  */
  /* when we moved border on around app-style-wrapper
  margin-top on this element margin-bottom on starting date button
  collapsed. we can remove the declaration margin-top on this element
  add more margin-bottom on starting date button
  margin-block-start: 62px;
  */
}

/* hover/focus effect */

[class="social-media-icons"] a:hover path,
[class="social-media-icons"] a:focus path {
  fill: var(--col-primary-soft-red-bottom);
}

[class="social-media-icons"] a {
  display: inline-block;
}

[class="social-media-icons"] > * + * {
  margin-inline-start: 8px;
}

[class="social-media-icons"] svg {
  display: inline-block;
  width: 24px;
}

[class="social-media-icons"] svg path {
  fill: var(--col-primary-grayish-blue);
}

@media screen and (min-width: 37.5rem) {
  [class="social-media-icons"] svg {
    width: 30px;
  }
}

@media screen and (min-width: 43.75rem) {
  .social-media-icons {
    margin-block-end: 0px;
  }
  [class="social-media-icons"] > * + * {
    margin-inline-start: 28px;
    margin-block: 48px;
  }
}

[role="main"] {
  background: url("./images/bg-desktop-dark.jpg") var(--col-darktheme-bottom-bg);
  background-repeat: no-repeat;
  color: var(--todo-input-foreground);
}

@media screen and (min-width: 43.75rem) {
  [role="main"] {
  }
}

li button {
  pointer-events: auto;
}

button img {
  pointer-events: none;
}

li div {
  pointer-events: none;
}
