@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Red+Hat+Text:wght@700&display=swap");
/* bright blue is the "All" view color */

/* 
*****Notes*****
### Primary

bright blue is the "All" view color
- Bright Blue: hsl(220, 98%, 61%)
checked bg and unchecked circle border
- Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)

### Neutral

### Light Theme

- Very Light Gray: hsl(0, 0%, 98%)//bg bottom TODO title color
- Very Light Grayish Blue: hsl(236, 33%, 92%)//input and todo bg
- Light Grayish Blue: hsl(233, 11%, 84%)//crossed out
- Dark Grayish Blue: hsl(236, 9%, 61%)//todo input placeholder, clear completed,left. weight 700 for active and completed view btn 
- Very Dark Grayish Blue: hsl(235, 19%, 35%)//drag and drop bottomsss

todo input 250,4,71
crossed out 240 4 78
todo list 240 5 65
item left, clear 252 3 63
active/completed 240 4 62
drag 250 3 64

### Dark Theme

 
- Very Dark Blue: hsl(235, 21%, 11%)// bg-bottom
- Very Dark Desaturated Blue: hsl(235, 24%, 19%) //input and todo bg
- Light Grayish Blue: hsl(234, 39%, 85%)//todo text
- Light Grayish Blue (hover): hsl(236, 33%, 92%) //todo text on hover
- Dark Grayish Blue: hsl(234, 11%, 52%) //crossed out
- Very Dark Grayish Blue: hsl(233, 14%, 35%) //todo input placeholder, clear completed,left. weight 700 for active and completed view btn
- Very Dark Grayish Blue: hsl(237, 14%, 26%) //drag and drop bottom of UI

todo input 235 10 44
crossed out 235 14 35
todo list 235 28 83
item left, clear 236 14 37
active/completed 238 14 42
drag 236 8 38

*/

:root {
  /* primary */
  --color-primary-bright-blue: hsl(220, 98%, 61%);
  --color-primary-title: hsl(300, 100%, 99%);
  --color-primary-first-half: hsl(192, 100%, 67%);
  --color-primary-second-half: hsl(280, 87%, 65%);
  --checked-button-gradient: linear-gradient(
    var(--color-primary-first-half),
    var(--color-primary-second-half)
  );
  /* light theme */
  /* todo input, btn views and clear similar shade */
  /* --color-lighttheme-very-light-grayish-blue: hsl(236, 33%, 92%); */
  /* crossed out and left item similar shade */
  --color-lighttheme-bottom-bg: hsl(0, 0%, 98%);
  --color-lighttheme-todo-list-bg: hsl(0, 0%, 100%);
  --color-lighttheme-checked-crossed-out: hsl(233, 11%, 84%);
  --color-lighttheme-hover-todoitem: hsl(233, 9%, 35%);
  --color-lighttheme-typing-input-hover-btns: hsl(240, 5%, 38%);
  --color-lighttheme-todoinput-completed-btns-below: hsl(236, 9%, 61%);
  /* --color-lighttheme-todo-listitem: blue; */
  --color-lighttheme-todo-listitem: hsl(235, 19%, 35%);
  /* dark theme */
  --color-darktheme-bottom-bg: hsl(235, 21%, 11%);
  --color-darktheme-todo-list-bg: hsl(235, 24%, 19%);
  /* --color-darktheme-todo-text-typing-btn-hover: red; */
  --color-darktheme-todo-text-typing-btn-hover: hsl(234, 39%, 85%);
  --color-darktheme-hover: hsl(236, 33%, 92%);
  --color-darktheme-todo-input: hsl(234, 11%, 52%);
  --color-darktheme-clear-active-complete-below: hsl(233, 14%, 35%);
  --color-darktheme-checked-crossed-out: hsl(235, 14%, 32%);
  /* dark theme */
  --darktheme-mobile-bg-img: url("./images/bg-mobile-dark.jpg");
  --darktheme-desktop-bg-img: url("./images/bg-desktop-dark.jpg");
  --dark-bg-color-bottom: var(--color-darktheme-bottom-bg);

  /* light theme */
  --lighttheme-mobile-bg-img: url("./images/bg-mobile-light.jpg");
  --lighttheme-desktop-bg-img: url("./images/bg-desktop-light.jpg");
  --light-bg-color-bottom: var(--color-lighttheme-bottom-bg);
  /* below works */
  /* --todo-input-foreground: var(
    --color-lighttheme-todo-listitem,
    var(--color-darktheme-todo-text-typing-btn-hover)
  ); */
  /* or */

  /***** background *****/
  --mobile-img-top: var(--lighttheme-mobile-bg-img);
  --desktop-img-top: var(--lighttheme-desktop-bg-img);
  --bottom-bg-color: var(--light-bg-color-bottom);
  --todoitems-views-btns-bg: var(--color-lighttheme-todo-list-bg);

  /***** checked button *****/
  --circle-checked-btn: var(--color-lighttheme-todoinput-completed-btns-below);
  /***** social media hover/background *****/
  --social-media: var(--color-darktheme-bottom-bg);
  --social-media-hover: var(--color-primary-bright-blue);
  /***** foreground *****/
  --input-placeholder-foreground: var(
    --color-lighttheme-todoinput-completed-btns-below
  );
  --todo-input-foreground: var(--color-lighttheme-typing-input-hover-btns);
  --todo-listitem-foreground: var(--color-lighttheme-todo-listitem);
  --clear-views-btns-text-below: var(
    --color-lighttheme-todoinput-completed-btns-below
  );
  --todo-completed-crossed-out: var(--color-lighttheme-checked-crossed-out);
  /* foreground hover */
  --todo-listitem-hover: var(--color-lighttheme-hover-todoitem);
  --views-btns-hover: var(--color-lighttheme-typing-input-hover-btns);
  /* li focus */
  --todo-listitem-keyboard-focus: var(--color-darktheme-todo-list-bg);
  /* --clear-btn-itemsleft-foreground: var(--color-lighttheme-todoinput-completed-btns-below);
  --views-btns-foreground:var(--color-lighttheme-todoinput-completed-btns-below); 
  --text-below-todo-foreground: var(--color-lighttheme-todoinput-completed-btns-below); */

  --box-shadow: 0px 0.3px 0.7px rgba(0, 0, 0, 0.02),
    0px 0.7px 1.7px rgba(0, 0, 0, 0.028), 0px 1.4px 3.3px rgba(0, 0, 0, 0.035),
    0px 2.5px 5.8px rgba(0, 0, 0, 0.042), 0px 4.6px 10.9px rgba(0, 0, 0, 0.05),
    0px 11px 26px rgba(0, 0, 0, 0.07);

  /***** background *****/
  /* bg-img top and bg-color-bottom */
  /* todo input,todo listitem,items left/complete, views btns(mobile) */
  /***** foreground *****/
  /***** example for foreground: *****/
  /* --todo-input-foreground: var(--color-lighttheme-todo-listitem, var(--color-darktheme-todo-text-typing-btn-hover) */
  /* input placeholder, input typing, todo list text, items left, views btns(mobile)  
  todo list crossed-out, todo list hover, views btns and clear btn hover, text below todo list
  */

  /* headings */
  /* --font-family-poppins: "Poppins", sans-serif; */
  /* body, call-to-actions */
  --font-family-josefin: "Josefin Sans", sans-serif;
}

/* media query */

@media (prefers-color-scheme: dark) {
  :root {
    /* below works */
    /* --todo-input-foreground: var(
      --color-darktheme-todo-text-typing-btn-hover,
      var(--color-lighttheme-todo-listitem)
    ); */
    /* or */
    /***** background *****/
    --mobile-img-top: var(--darktheme-mobile-bg-img);
    --desktop-img-top: var(--darktheme-desktop-bg-img);
    --bottom-bg-color: var(--dark-bg-color-bottom);
    --todoitems-views-btns-bg: var(--color-darktheme-todo-list-bg);
    /***** checked button *****/
    --circle-checked-btn: var(--clear-views-btns-text-below);
    /***** social media hover/background *****/
    --social-media: var(--color-darktheme-todo-input);
    --social-media-hover: var(--color-primary-first-half);
    /***** foreground *****/
    --input-placeholder-foreground: var(--color-darktheme-todo-input);
    --todo-input-foreground: var(--color-darktheme-todo-text-typing-btn-hover);
    --todo-listitem-foreground: var(
      --color-darktheme-todo-text-typing-btn-hover
    );
    --clear-views-btns-text-below: var(
      --color-darktheme-clear-active-complete-below
    );
    --todo-completed-crossed-out: var(--color-darktheme-checked-crossed-out);
    /* foreground hover */
    --todo-listitem-hover: var(--color-darktheme-hover);
    --views-btns-hover: var(--color-darktheme-todo-text-typing-btn-hover);
    /* li focus */
    --todo-listitem-keyboard-focus: var(--color-primary-bright-blue);
    /* --clear-btn-itemsleft-foreground: var(--color-darktheme-clear-active-complete-below);
    --views-btns-foreground: var(--color-darktheme-clear-active-complete-below);
    --text-below-todo-foreground: var(--color-darktheme-clear-active-complete-below); */
  }
}

.light-theme {
  /***** background *****/
  --mobile-img-top: var(--lighttheme-mobile-bg-img);
  --desktop-img-top: var(--lighttheme-desktop-bg-img);
  --bottom-bg-color: var(--light-bg-color-bottom);
  --todoitems-views-btns-bg: var(--color-lighttheme-todo-list-bg);
  --draggedTodoSelected: var(--color-darktheme-todo-list-bg);
  /***** checked button *****/
  --circle-checked-btn: var(--color-lighttheme-todoinput-completed-btns-below);
  /***** social media hover/background *****/
  --social-media: var(--color-darktheme-bottom-bg);
  --social-media-hover: var(--color-primary-bright-blue);
  /***** foreground *****/
  --input-placeholder-foreground: var(
    --color-lighttheme-todoinput-completed-btns-below
  );
  --todo-input-foreground: var(--color-lighttheme-typing-input-hover-btns);
  --todo-listitem-foreground: var(--color-lighttheme-todo-listitem);
  --clear-views-btns-text-below: var(
    --color-lighttheme-todoinput-completed-btns-below
  );
  --todo-completed-crossed-out: var(--color-lighttheme-checked-crossed-out);
  /* foreground hover */
  --todo-listitem-hover: var(--color-lighttheme-hover-todoitem);
  --views-btns-hover: var(--color-lighttheme-typing-input-hover-btns);
  /* li focus */
  --todo-listitem-keyboard-focus: var(--color-darktheme-todo-list-bg);
}

.dark-theme {
  /***** background *****/
  --mobile-img-top: var(--darktheme-mobile-bg-img);
  --desktop-img-top: var(--darktheme-desktop-bg-img);
  --bottom-bg-color: var(--dark-bg-color-bottom);
  --todoitems-views-btns-bg: var(--color-darktheme-todo-list-bg);
  --draggedTodoSelected: var(--color-lighttheme-todo-list-bg);
  /***** checked button *****/
  --circle-checked-btn: var(--clear-views-btns-text-below);
  /***** social media hover/background *****/
  --social-media: var(--color-darktheme-todo-input);
  --social-media-hover: var(--color-primary-first-half);
  /***** foreground *****/
  --input-placeholder-foreground: var(--color-darktheme-todo-input);
  --todo-input-foreground: var(--color-darktheme-todo-text-typing-btn-hover);
  --todo-listitem-foreground: var(--color-darktheme-todo-text-typing-btn-hover);
  --clear-views-btns-text-below: var(
    --color-darktheme-clear-active-complete-below
  );
  --todo-completed-crossed-out: var(--color-darktheme-checked-crossed-out);
  /* foreground hover */
  --todo-listitem-hover: var(--color-darktheme-hover);
  --views-btns-hover: var(--color-darktheme-todo-text-typing-btn-hover);
  /* li focus */
  --todo-listitem-keyboard-focus: var(--color-primary-bright-blue);
}

/* 
put opacity on the backgroung-color: hsla()
not on the element
*/

/* margin collapse: when one of the element is block and the other element is inline-block
bottom margin on block and top margin on inline-block will not collapse. interesting
*/

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* code below is from inclusive design patterns */
/* html {
  font-size: calc(1em + 1vw);
} */

body {
  color: var(--col-primary-grayish-blue);
  font-family: var(--font-family-josefin);
  /* use color: revert for text that we dont want to be grayish blue */
  /* color: var(--color-neutral-grayish-blue); */
}

h1,
h2,
h3,
h4,
body,
ul,
hr {
  margin: 0;
  /* figure, dl, and dd have default margin */
  /* font-weight: 100; */
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  font-family: var(--font-family-poppins);
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--link-fg, var(--clr-neutral-black));
  font-weight: var(--fw-700);
  font-size: var(--fs-300);
}

a:hover,
a:focus {
  /* text-decoration: underline; */
}

a:focus {
  outline: 3px solid rgb(9, 138, 180);
  /* outline-offset: 2px; */
}

img {
  /* using object-fit for images. we have to set a height or a min-height on the image and the width of 100% 
  exception to the rule of setting a height. we can sometime use it on a child element.
  */
  max-width: 100%;
  /* we use max-width: 100% so when we have an img element inside of a div and we want to use flex which means the div will be a flex item
    the img will shrink and grow as its parent element shrink and grows
    */
  /* use display: block so our img fits the container.
    when we didnt have display: block on img element the image did not fill the container.
    there were some white space
    */
  display: block;
  height: auto;
}

ul[role],
li[role] {
  list-style: none;
  padding: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  border: none;
}

/* button {

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* reset */

/* utilities */

/* skip link using attr selector */

[href="#main-content"] {
  position: absolute;
  top: 0;
  right: 100%; /* moves off screen */
}
[href="#main-content"]:focus {
  right: auto;
}

/* skip link using attr selector */

/* we can use min-height on the element we want its height to be 100% */
html,
body {
  height: 100%;
}
/* we can use min-height on the element we want its height to be 100% */

/* container wrapper */

.max-width {
  /* or the width we want our container/parent element to be */
  max-width: 1250px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  /* padding-inline-start: 16px;
  padding-inline-end: 16px; */
}

/* @media screen and (min-width: 70rem) {
  .max-width {
    max-width: 550px;
  }
} */

.text-max-width-wrapper {
  max-width: 150px;
  margin-inline: auto;
}

/* container wrapper */

.flow-content > * + * {
  margin: var(--gap, 8px) 0 0 0;
}

/* @media screen and (min-width: 70rem){

} */

.columns {
  display: flex;
  flex-direction: column;
  /* flex-flow: column; */
}

.columns > * {
  /* flex:1 => flex-basis will be 0px */
  flex: 1;
  flex-basis: 100%;
}

[class*="col-"] {
  flex-basis: var(--col-basis, 100%);
}

.col-1 {
  --col-basis: 25%;
}
.col-2 {
  --col-basis: 50%;
}
.col-3 {
  --col-basis: 75%;
}

[class*="bg-"] {
  background-color: var(--bg, hsl(0, 100%, 100%));
  background-image: var(--bg-img, hsl(0, 100%, 100%));
  color: var(--fg, hsl(0, 0%, 0%));
}

/* change for next project */

[class*="-btn"] {
  padding: 0;
  background: transparent;
  /* background-color: var(--btn-bg); */
  /* background-image: var(--btn-bg-img, hsl(0, 100%, 100%)); */
  /* text-transform: uppercase; */
  /* color: var(--btn-fg, hsl(0, 100%, 100%)); */
  /* padding-block: 16px;
  margin-block-start: 34px;
  border-radius: 6px; */
  /* padding: 12px;
  padding-inline: 46px;
  border-radius: 100vw; */
}

.bg-dark {
  /* --bg: ; */
  --bg-img: var(--col-bg-image);
  --fg: var(--col-neutral-very-grayish-blue);
}

.bg-light {
  --bg: var(--col-neutral-very-grayish-blue);
  --fg: var(--col-neutral-grayish-blue);
}

/* .btn-primary .front-of-button {
  --btn-bg: var(--col-pri-strong-cyan);
}

.btn-primary.back-of-button {
  --btn-bg: var(--col-pri-back-bg);
}

.btn-secondary .front-of-button {
  --btn-bg: var(--col-pri-light-blue);
}

.btn-secondary.back-of-button {
  --btn-bg: var(--col-sec-back-bg);
} */

.btn-light {
  /* --btn-bg: ; */
  /* --fg is declared in .bg-dark which is applied to the parent element of the element that has .btn-light */
  /* <div class="bg-dark">
      <button class="btn-light">hello</button>
    </div> */
  /* since <button> is a child of div with .bg-dark we can use --fg on div children */
  --btn-bg: var(--col-neutral-white);
  --btn-fg: var(--col-pri-pink);
}

.btn-dark {
  --btn-bg-img: var(--col-bg-image);
  --btn-bg: ;
  --btn-fg: var(--col-neutral-very-grayish-blue);
}

.btn-accent {
  font-size: 0.75rem;
  font-weight: 700;

  padding: 12px;
  padding-inline: 56px;
  border-radius: 100vw;

  box-shadow: var(--box-shadow);

  --btn-bg: var(--col-pri-pink);
  --btn-fg: var(--col-neutral-white);
}

/* themes */

/* comment out for this project */

/* [class*="-theme"] {
  background-color: var(--theme-bg);
  color: var(--theme-fg);
}

.dark-theme {
  background-color: var(--dark-bg);
  color: var(--dark-fg);
  --dark-bg: var(--first-color);
}

.light-theme {
  background-color: var(--light-bg);
  color: var(--light-fg);
}

.accent-theme {
  background-color: var(--accent-bg);
  color: var(--accent-fg);
} */

/* .light-theme {
  background-color: var(--light-theme-bg);
  color: var(--light-theme-fg);
}

.dark-theme {
  background-color: var(--dark-theme-bg);
  color: var(--dark-theme-fg);
} */

.low-bold {
  font-weight: 400;
}

.high-bold {
  font-weight: 700;
}

.uppercase-text {
  text-transform: uppercase;
}

.custom-margin {
  margin-block-start: 120px;
  margin-inline-start: 24px;
}

/* .btn-light:hover,
.btn-light:focus {
  background: transparent;
  color: var(--fg);
  border: 0.1px solid currentColor;
} */

.btn-dark:hover,
.btn-dark:focus {
  background: transparent;
  color: var(--col-pri-button-bg);
  border: solid currentColor;
}

button:hover,
a:hover {
  cursor: pointer;
}

/* test out [class*=btn-]{} 
.btn-light{
    --bg
    --fg
}
.btn-dark{
    --bg
    --fg
} 
*/
/* hide h2 which are title for our section element */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* .visually-hidden{
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px)
} */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.skip-link {
  display: none;
  border: 1px solid red;
  padding-block: 16px;
  padding-inline: 32px;
}

@media screen and (min-width: 70rem) {
  .skip-link {
    display: inline-block;
  }
}

/* general styles */

body {
  background-color: var(--bottom-bg-color);
}

.list-style-wrapper li,
li button,
div[class~="views-container"] button,
[class~="mobile-views-container"] button {
  pointer-events: auto;
}

button img,
div[class~="views-container"],
[class~="mobile-views-container"] {
  pointer-events: none;
}

.todo-input-instructions-container input,
.list-style-wrapper p {
  font-size: 0.8rem;
}

/* individual sections */

/* main */
main {
  min-height: 100%;
}

[role="main"] {
  max-width: 1440px;
  background: var(--mobile-img-top) var(--bottom-bg-color);
  background-repeat: no-repeat;
  color: var(--todo-input-foreground);
  margin-inline: auto;
  padding-inline: 20px;
  padding-block-start: 45px;
}

@media screen and (min-width: 43.75rem) {
  [role="main"] {
    background: var(--desktop-img-top) var(--bottom-bg-color);
    background-repeat: no-repeat;
  }

  .margin-block-start-small {
    margin-block-start: 2px;
  }

  .todo-input-instructions-container input,
  .list-style-wrapper p {
    font-size: 1.05rem;
  }
}

/* app wrapper */

[class~="app-wrapper"] {
  max-width: 550px;
  margin-inline: auto;
}

[class~="title-toggle-wrapper"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* title */

[id="section-title"] {
  color: var(--color-primary-title);
  font-size: 1.7rem;
  transform: translateY(4px);
}

[id="section-title"] span {
  letter-spacing: 8px;
}

/* toggle */

.toggle-btn {
  width: 20px;
}

@media screen and (min-width: 43.75rem) {
  [id="section-title"] {
    font-size: 2.4rem;
  }
  .toggle-btn {
    width: 28px;
  }
}

/* app sections */

.todo-input-instructions-container,
.todo-list-views-container,
.mobile-views-container {
  background-color: var(--todoitems-views-btns-bg);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
}

.todo-input-instructions-container {
  padding: 20px;
  padding-block: 14px;
  display: flex;
  gap: 12px;
  align-items: center;
  margin-block-start: 48px;
}

/* instructions div */

[data-showInstructions="false"] .wrapper {
  display: none;
}

[data-showInstructions="true"] .wrapper {
  display: revert;
}

/* circle for input */

.circle {
  min-width: 25px;
  min-height: 24px;
  border: 1.5px solid var(--color-darktheme-checked-crossed-out);
  border-radius: 100%;
}

/* todo input */

.todo-input-instructions-container input::placeholder {
  color: var(--input-placeholder-foreground);
}

.todo-input-instructions-container input {
  padding: 0;
  border: 0;
  font-weight: 700;
  background-color: transparent;
  border-color: transparent;
  color: var(--todo-input-foreground);
}

/* todo listitems */

.todo-list-views-container {
  margin-block: 16px;
}

.list-style-wrapper ul > * + * {
  border-top: 1px solid var(--clear-views-btns-text-below);
}

.list-style-wrapper li > div {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-block: 18px;
  gap: 12px;
}

.list-style-wrapper ul li:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

/* checked btn */

div[data-checked="true"] {
  background-image: var(--checked-button-gradient);
}

.circle-indicator {
  pointer-events: none;
  min-width: 25px;
  min-height: 24px;
  background-color: var(--clear-views-btns-text-below);
  /* background-image: var(--checked-button-gradient); */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checked-btn {
  min-width: 23px;
  min-height: 22px;
  border-radius: 100%;
  /* found a way we dont have to use border-width,border-style,border-color */
  /* border-width: 1.5px;
  border-style: solid;
  border-color: transparent; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* user checked todo */
/* using JS we will change div with data-checked attr to true
and button with aria-checked attr to true when user click on checked-btn
*/

.checked-btn[aria-checked="false"] {
  background-color: var(--todoitems-views-btns-bg);
}
.checked-btn[aria-checked="true"] {
  background-color: transparent;
}

.checked-btn[aria-checked="false"] img {
  display: none;
}
.checked-btn[aria-checked="true"] img {
  display: revert;
}

.list-style-wrapper p {
  margin-block: 0;
  color: var(--todo-listitem-foreground);
}

/* todo completed */

/* focus ring for both mobile and desktop */

/* using different selector

[data-dragselected="true"]:focus,
[data-dragselected="true"]
*/

[data-dragselected="true"]:focus-within {
  outline: none;
  /* dark */
  box-shadow: inset 0 0 0 5px var(--color-primary-bright-blue);
  /* light */
  /* box-shadow: inset 0 0 0 2px var(--color-darktheme-todo-list-bg); */
}

/* using different selector
[data-dragselected="false"]
*/

/* when the TODO item does not have drag selected true
but user is using keyboard up and down key to move up and down the list of todos
that todo will have focus ring even when the user tab to checked and delete btn of
that todo
*/

/* [data-dragselected="false"]:focus, */
[data-dragselected="false"]:focus-within {
  outline: none;
  /* dark */
  box-shadow: inset 0 0 0 2px var(--color-primary-bright-blue);
  /* light */
  /* box-shadow: inset 0 0 0 2px var(--color-darktheme-todo-list-bg); */
}

/* [data-dragselected="true"] {
  background-color: var(--draggedTodoSelected);
} */

[data-dragselected="true"] p {
  /* color: var(--color-primary-bright-blue); */
  font-weight: 700;
}

[data-dragover="true"] {
  /* background-color: var(--color-primary-first-half); */
  outline: 3px solid var(--color-primary-first-half);
  /* border: 3px solid #f2571a; */
}

li[data-todoCompleted="true"] p {
  position: relative;
  width: max-content;
  color: var(--todo-completed-crossed-out);
}

li[data-todoCompleted="true"] p::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background-color: currentColor;
}

/* hover on li will show checked circle border and "X" btn */

/* delete btn wrapper */

.delete-btn-wrapper {
  display: inline-flex;
  margin-inline-start: auto;
}

/* delete btn */

.delete-btn {
  width: 14px;
  margin-inline-start: auto;
  display: flex;
}

@media screen and (min-width: 43.75rem) {
  /* spacing */
  .todo-input-instructions-container {
    padding-block: 18px;
  }
  /* checked btn */
  .checked-btn:focus {
    outline: 1px solid transparent;
  }

  /* using JS to get checked btn focus ring to match design */
  .circle-testing:hover,
  div[user-focused-btn="true"] {
    background-image: var(--checked-button-gradient);
  }

  /* delete btn image algorithm for a11y */
  li[role="option"] p + button img {
    /* clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px); */
    display: none;
  }

  li[role="option"] p + button:focus img,
  li[role="option"]:hover p + button img {
    /* clip-path: revert; */
    display: revert;
  }
}

/* views btns */

[data-unorderedHasItems="true"] {
  border-top: 1px solid;
}

.views-container {
  color: var(--clear-views-btns-text-below);
  font-size: 0.8rem;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.views-buttons {
  display: none;
}

/* btn that has data-currentView="true" will have color: var(--color-primary-bright-blue);
btn with data-currentView="false" will color: var(--views-btns-hover);
*/

/* [data-currentView="true"] {
  color: var(--color-primary-bright-blue);
} */

/* another approach */

button[data-currentView] {
  color: var(--color-primary-bright-blue);
}

/* mobile views btns */

.mobile-views-container {
  color: var(--clear-views-btns-text-below);
  font-size: 0.9rem;
  font-weight: 700;
  padding: 16px;
  display: flex;
  gap: 20px;
}

.mobile-btn-all {
  margin-inline-start: auto;
}

.mobile-btn-completed {
  margin-inline-end: auto;
}

@media screen and (min-width: 43.75rem) {
  .views-container {
    font-size: 0.9rem;
  }

  /* desktop views btns */
  .views-buttons {
    display: revert;
    font-weight: 700;
  }

  .views-buttons > * + * {
    margin-inline-start: 12px;
  }

  /* [data-currentView="false"]:hover,
  [data-currentView="false"]:focus,
  .clear-btn:hover,
  .clear-btn:focus {
    color: var(--views-btns-hover);
  } */

  /* another approach */

  button:not([data-currentView]):focus,
  button:not([data-currentView]):hover,
  .clear-btn:hover,
  .clear-btn:focus {
    color: var(--views-btns-hover);
  }

  /* [id="button-hover-effect"]:hover {
    color: var(--views-btns-hover);
    font-weight: 700;
  } */

  /* adding space between btns */
  .mobile-views-container {
    display: none;
  }
}

/* text above social */

.social-media-bottom-text {
  margin-block-start: 48px;
  text-align: center;
}

.social-media-bottom-text span {
  color: var(--clear-views-btns-text-below);
}

/* social media icons */

.social-media-icons {
  margin-block-start: 36px;
  /* margin-block: 30px;
  margin-block-start: auto; */
  /* we had border around app-style-wrapper
  which did not allow for margin-collapse with starting date button
  and container for social media icon
  had to use margin-block-start on this element
  */
  /* when we moved border on around app-style-wrapper
  margin-top on this element margin-bottom on starting date button
  collapsed. we can remove the declaration margin-top on this element
  add more margin-bottom on starting date button
  margin-block-start: 62px;
  */
}

/* hover/focus effect */

[class="social-media-icons"] a:hover path,
[class="social-media-icons"] a:focus path {
  fill: var(--social-media-hover);
}

[class="social-media-icons"] a {
  display: inline-block;
}

[class="social-media-icons"] > * + * {
  margin-inline-start: 8px;
}

[class="social-media-icons"] svg {
  display: inline-block;
  width: 24px;
}

[class="social-media-icons"] svg path {
  fill: var(--social-media);
}

@media screen and (min-width: 37.5rem) {
  [class="social-media-icons"] svg {
    width: 30px;
  }
}

@media screen and (min-width: 43.75rem) {
  .social-media-icons {
    margin-block-end: 0px;
  }
  [class="social-media-icons"] > * + * {
    margin-inline-start: 28px;
    margin-block: 48px;
  }
}
