:root {
  --col-pri-strong-cyan: hsl(171, 66%, 44%);
  --col-pri-light-blue: hsl(233, 100%, 69%);
  --col-pri-back-bg: hsl(170, 60%, 38%);
  --col-sec-back-bg: hsl(232, 68%, 59%);

  --title-ch-value: ;

  --col-neutral-dark-grayish-blue: hsl(210, 10%, 33%);
  --col-neutral-grayish-blue: hsl(201, 11%, 66%);

  --col-footer-bg: hsl(220, 18%, 97%);

  --font-family-baijamjuree: "Bai Jamjuree", sans-serif;
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* code below is from inclusive design patterns */
/* html {
  font-size: calc(1em + 1vw);
} */

body {
  font-family: var(--font-family-baijamjuree);
  /* use color: revert for text that we dont want to be grayish blue */
  /* color: var(--color-neutral-grayish-blue); */
}

h1,
h2,
h3,
h4,
body,
ul {
  margin: 0;
  /* figure, dl, and dd have default margin */
  /* font-weight: 100; */
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--link-fg, var(--clr-neutral-900));
  font-weight: var(--fw-700);
  font-size: var(--fs-300);
}

a:hover,
a:focus {
  /* text-decoration: underline; */
}

a:focus {
  outline: 3px solid rgb(9, 138, 180);
  /* outline-offset: 2px; */
}

img {
  /* using object-fit for images. we have to set a height or a min-height on the image and the width of 100% 
  exception to the rule of setting a height. we can sometime use it on a child element.
  */
  max-width: 100%;
  /* we use max-width: 100% so when we have an img element inside of a div and we want to use flex which means the div will be a flex item
    the img will shrink and grow as its parent element shrink and grows
    */
  /* use display: block so our img fits the container.
    when we didnt have display: block on img element the image did not fill the container.
    there were some white space
    */
  display: block;
  height: auto;
}

ul[role],
li[role] {
  list-style: none;
  padding: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  border: none;
}

/* button {

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* reset */

/* utilities */

/* skip link using attr selector */

[href="#main-content"] {
  position: absolute;
  top: 0;
  right: 100%; /* moves off screen */
}
[href="#main-content"]:focus {
  right: auto;
}

/* skip link using attr selector */

/* we can use min-height on the element we want its height to be 100% */
html,
body {
  height: 100%;
}
/* we can use min-height on the element we want its height to be 100% */

/* container wrapper */

.max-width {
  /* or the width we want our container/parent element to be */
  max-width: 350px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  /* padding-inline-start: 16px;
  padding-inline-end: 16px; */
}

@media screen and (min-width: 90rem) {
  .max-width {
    max-width: 550px;
  }
}

.text-max-width-wrapper {
  max-width: 150px;
  margin-inline: auto;
}

/* container wrapper */

.flow-content > * + * {
  margin: var(--gap, 8px) 0 0 0;
}

/* @media screen and (min-width: 90rem){

} */

.columns {
  display: flex;
  flex-direction: column;
  /* flex-flow: column; */
}

.columns > * {
  /* flex:1 => flex-basis will be 0px */
  flex: 1;
  flex-basis: 100%;
}

[class*="col-"] {
  flex-basis: var(--col-basis, 100%);
}

.col-1 {
  --col-basis: 25%;
}
.col-2 {
  --col-basis: 50%;
}
.col-3 {
  --col-basis: 75%;
}

[class*="bg-"] {
  background-color: var(--bg, hsl(0, 100%, 100%));
  background-image: var(--bg-img, hsl(0, 100%, 100%));
  color: var(--fg, hsl(0, 0%, 0%));
}

[class*="btn-"] {
  background-color: var(--btn-bg);
  /* background-image: var(--btn-bg-img, hsl(0, 100%, 100%)); */
  /* text-transform: uppercase; */
  color: var(--btn-fg, hsl(0, 100%, 100%));
  /* padding-block: 16px;
  margin-block-start: 34px;
  border-radius: 6px; */
  /* padding: 12px;
  padding-inline: 46px;
  border-radius: 100vw; */
}

.bg-dark {
  /* --bg: ; */
  --bg-img: var(--col-bg-image);
  --fg: var(--col-neutral-very-grayish-blue);
}

.bg-light {
  --bg: var(--col-neutral-very-grayish-blue);
  --fg: var(--col-neutral-grayish-blue);
}

/* .btn-primary .front-of-button {
  --btn-bg: var(--col-pri-strong-cyan);
}

.btn-primary.back-of-button {
  --btn-bg: var(--col-pri-back-bg);
}

.btn-secondary .front-of-button {
  --btn-bg: var(--col-pri-light-blue);
}

.btn-secondary.back-of-button {
  --btn-bg: var(--col-sec-back-bg);
} */

.btn-light {
  /* --btn-bg: ; */
  /* --fg is declared in .bg-dark which is applied to the parent element of the element that has .btn-light */
  /* <div class="bg-dark">
      <button class="btn-light">hello</button>
    </div> */
  /* since <button> is a child of div with .bg-dark we can use --fg on div children */
  --btn-bg: var(--fg);
  --btn-fg: var(--col-pri-gradient-end);
}

.btn-dark {
  --btn-bg-img: var(--col-bg-image);
  --btn-bg: ;
  --btn-fg: var(--col-neutral-very-grayish-blue);
}

.light-theme {
  background-color: var(--light-theme-bg);
  color: var(--light-theme-fg);
}

.dark-theme {
  background-color: var(--dark-theme-bg);
  color: var(--dark-theme-fg);
}

.low-bold {
  font-weight: 400;
}

.high-bold {
  font-weight: 700;
}

.uppercase-text {
  text-transform: uppercase;
}

.btn-light:hover,
.btn-light:focus {
  background: transparent;
  color: var(--fg);
  border: 0.1px solid currentColor;
}

.btn-dark:hover,
.btn-dark:focus {
  background: transparent;
  color: var(--col-pri-button-bg);
  border: solid currentColor;
}

button:hover,
a:hover {
  cursor: pointer;
}

/* test out [class*=btn-]{} 
.btn-light{
    --bg
    --fg
}
.btn-dark{
    --bg
    --fg
} 
*/
/* hide h2 which are title for our section element */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* .visually-hidden{
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px)
} */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.skip-link {
  display: inline-block;
  border: 1px solid red;
  padding-block: 16px;
  padding-inline: 32px;
}

/* hide h2 which are title for our section element */

/* button */

.buttons-container {
  text-align: center;
}

.btn-primary.back-of-button {
  background-color: var(--col-pri-back-bg);
}

.btn-secondary.back-of-button {
  background-color: var(--col-sec-back-bg);
}

.btn-primary .front-of-button {
  background-color: var(--col-pri-strong-cyan);
}

.btn-secondary .front-of-button {
  background-color: var(--col-pri-light-blue);
}

.buttons-container__btn:first-child {
  margin-block-end: 24px;
}

.buttons-container__btn {
  /* without border-radius on both back and front of button
    back of button will be shown as a square behind the front of button
    */
  border-radius: 100vw;
  padding: 0;
}

.front-of-button {
  border-radius: 100vw;
  font-weight: 600;
  display: block;
  margin-inline: auto;
  padding: 14px;
  padding-inline: 80px;
  transform: translateY(-3px);
  cursor: pointer;
}

.buttons-container__btn:first-child .front-of-button {
  padding-inline: calc(80px + 2.4px);
}

/* font and colors */

[class*="__title"] {
  max-width: var(--title-ch);
}
[class*="__description"] {
  max-width: var(--description-ch);
}

[class*="__title"],
[id="footer-navbar"] .navlist {
  color: var(--col-neutral-dark-grayish-blue);
}

[class*="__description"] {
  color: var(--col-neutral-grayish-blue);
  font-size: calc(16 / 16 * 1rem);
  max-width: 33ch;
  margin-inline: auto;
}

h2[class*="__title"] {
  max-width: 16ch;
  margin-inline: auto;
  line-height: 1.5;
}

h3[class*="__title"] {
  font-size: calc(22 / 16 * 1rem);
  margin-inline: auto;
}

/* header */

[class="hero-content"] {
  padding-block: 128px;
  padding-block-end: 168px;

  background-image: url("images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  text-align: center;
}

.logo-wrapper1 {
  width: 100px;
  margin-inline: auto;
}

[class="hero-content__section1__title"] {
  font-size: calc(32 / 16 * 1rem);
  max-width: 15ch;
  margin-inline: auto;
  margin-block-start: 68px;
}

[class="hero-content__section1__description"] {
  margin-block-start: 20px;
}

[class="buttons-container"] {
  margin-block-start: 48px;
}

/* main */

[class="main-content1"] {
  text-align: center;
  padding-inline: 32px;
  padding-block-end: 168px;
}

[class="main-content1"] .style-wrapper2 > * {
  margin-block-start: 48px;
}

[class="main-content2"] {
  text-align: center;
  padding-inline: 18px;
  padding-block-end: 96px;
}

[class="img-wrapper2"] {
  margin-block-start: 48px;
}

[class="main-content3"] {
  text-align: center;
  padding-block-end: 128px;
}

[class="main-content3"] .style-wrapper3 {
  margin-block-start: 72px;
}

[class="main-content3"] .style-wrapper3 > * + * {
  margin-block-start: 32px;
}

[class="main-content3"] .style-wrapper3 img {
  margin-inline: auto;
  margin-block-end: 48px;
}

.style-wrapper3
  > [class*="__subsection"]:not(:last-child)
  p[class*="__description"] {
  max-width: 34ch;
}

/* img grid */

.style-wrapper4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(188px, 1fr));
  justify-items: center;
  gap: 72px;
  padding-block-end: 168px;
}

[class="main-content5"] {
  text-align: center;
  padding-block-end: 168px;
}

[class="main-content5"] p[class*="__description"] {
  max-width: 28ch;
}

/* footer */

footer[role="content-info"] {
  background-color: var(--col-footer-bg);
  padding-block: 48px;
}

.style-wrapper5 {
  text-align: center;
}

.logo-wrapper2 {
  width: 50px;
  margin-inline: auto;
}

[id="footer-navbar"] {
  font-size: calc(18 / 16 * 1rem);
  margin-block: 42px;
}

/* this */

/* [id="footer-navbar"] li[class="navitem"]:not(:first-child) {
  margin-block-start: 32px;
} */

/* or owl selector */

[id="footer-navbar"] .navlist > * + * {
  margin-block-start: 32px;
}

[class="social-icons-wrapper"] > * + * {
  margin-inline-start: 32px;
}

/* [class="social-icons-wrapper"] a:not(:first-child) {
  margin-inline-start: 32px;
} */
