[class~="drop-zone"] {
  border-radius: 8px;
  border: 1px solid lightblue;
}

[class~="drop-zone"] li {
  display: block;
  padding: 8px;
  border: 1px solid rgb(114, 16, 53);
}

li[class~="drag-over"] {
  border: 2px solid red;
}

.drag-selected {
  font-weight: 700;
}

li[data-index]:focus {
  box-shadow: inset 0 0 0 2px #1589ee;
}

/* button {
  display: block;
} */

:root {
  --clr-light: #fdffc4;
  --clr-dark: #00332a;
  --clr-primary: #dbffa2;
  --clr-secondary: #c3fcf2;
  --clr-accent: #ff7750;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  --ff-title: "Playfair Display", serif;
  --ff-body: "Assistant", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-primary: #202302;
    --clr-secondary: #00100d;
    --clr-accent: #ff7750;

    --background: var(--clr-dark);
    --foreground: var(--clr-light);
  }
}

/* dark theme using class */

:root {
  --clr-light: #fdffc4;
  --clr-dark: #00332a;
  --clr-primary: #dbffa2;
  --clr-secondary: #c3fcf2;
  --clr-accent: #ff7750;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  --ff-title: "Playfair Display", serif;
  --ff-body: "Assistant", sans-serif;
}

.darkmode {
  --clr-light: #fdffc4;
  --clr-dark: #00332a;
  --clr-primary: #202302;
  --clr-secondary: #00100d;
  --clr-accent: #ff7750;

  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}
