:root {
  --col-pri-intro-email-bg: hsl(217, 28%, 15%);
  --col-pri-main-bg: hsl(220, 27%, 13%);
  --col-pri-footer-bg: hsl(216, 53%, 9%);
  --col-pri-testimonials-bg: hsl(219, 30%, 18%);
  --col-nav-link-nonactive: hsl(215, 8%, 60%);
  --col-lighter-text: hsl(206, 9%, 89%);
  --col-link: hsl(182, 25%, 46%);
  --col-testimonial-shadow: hsl(219, 25%, 11%);

  --col-accent-cyan-start-gradient: hsl(176, 68%, 64%);
  --col-accent-blue-end-gradient: hsl(198, 60%, 50%);
  --col-accent-light-red: hsl(0, 100%, 63%);

  /* --card-border-radius: 16px;
  --footer-bg-color: hsl(192, 100%, 9%); */
  --col-neutral-white: hsl(0, 100%, 100%);

  --box-shadow: 0.6px 0.6px 4.6px rgba(0, 0, 0, 0.02),
    1.3px 1.3px 11px rgba(0, 0, 0, 0.028),
    2.5px 2.5px 20.7px rgba(0, 0, 0, 0.035),
    4.5px 4.5px 36.9px rgba(0, 0, 0, 0.042),
    8.4px 8.4px 68.9px rgba(0, 0, 0, 0.05), 20px 20px 165px rgba(0, 0, 0, 0.07);

  /* headings */
  --font-family-raleway: "Raleway", sans-serif;
  /* body, call-to-actions */
  --font-family-open-sans: "Open Sans", sans-serif;
}

/* margin collapse: when one of the element is block and the other element is inline-block
bottom margin on block and top margin on inline-block will not collapse. interesting
*/

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* code below is from inclusive design patterns */
/* html {
  font-size: calc(1em + 1vw);
} */

body {
  color: var(--col-neutral-white);
  font-family: var(--font-family-open-sans);
  /* use color: revert for text that we dont want to be grayish blue */
  /* color: var(--color-neutral-grayish-blue); */
}

h1,
h2,
h3,
h4,
body,
ul {
  margin: 0;
  /* figure, dl, and dd have default margin */
  /* font-weight: 100; */
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  font-family: var(--font-family-raleway);
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--link-fg, var(--clr-neutral-900));
  font-weight: var(--fw-700);
  font-size: var(--fs-300);
}

a:hover,
a:focus {
  /* text-decoration: underline; */
}

a:focus {
  outline: 3px solid rgb(9, 138, 180);
  /* outline-offset: 2px; */
}

img {
  /* using object-fit for images. we have to set a height or a min-height on the image and the width of 100% 
  exception to the rule of setting a height. we can sometime use it on a child element.
  */
  max-width: 100%;
  /* we use max-width: 100% so when we have an img element inside of a div and we want to use flex which means the div will be a flex item
    the img will shrink and grow as its parent element shrink and grows
    */
  /* use display: block so our img fits the container.
    when we didnt have display: block on img element the image did not fill the container.
    there were some white space
    */
  display: block;
  height: auto;
}

ul[role],
li[role] {
  list-style: none;
  padding: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  border: none;
}

/* button {

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* reset */

/* utilities */

/* skip link using attr selector */

[href="#main-content"] {
  position: absolute;
  top: 0;
  right: 100%; /* moves off screen */
}
[href="#main-content"]:focus {
  right: auto;
}

/* skip link using attr selector */

/* we can use min-height on the element we want its height to be 100% */
html,
body {
  height: 100%;
}
/* we can use min-height on the element we want its height to be 100% */

/* container wrapper */

.max-width {
  /* or the width we want our container/parent element to be */
  max-width: 350px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  /* padding-inline-start: 16px;
  padding-inline-end: 16px; */
}

@media screen and (min-width: 90rem) {
  .max-width {
    max-width: 550px;
  }
}

.text-max-width-wrapper {
  max-width: 150px;
  margin-inline: auto;
}

/* container wrapper */

.flow-content > * + * {
  margin: var(--gap, 8px) 0 0 0;
}

/* @media screen and (min-width: 90rem){

} */

.columns {
  display: flex;
  flex-direction: column;
  /* flex-flow: column; */
}

.columns > * {
  /* flex:1 => flex-basis will be 0px */
  flex: 1;
  flex-basis: 100%;
}

[class*="col-"] {
  flex-basis: var(--col-basis, 100%);
}

.col-1 {
  --col-basis: 25%;
}
.col-2 {
  --col-basis: 50%;
}
.col-3 {
  --col-basis: 75%;
}

[class*="bg-"] {
  background-color: var(--bg, hsl(0, 100%, 100%));
  background-image: var(--bg-img, hsl(0, 100%, 100%));
  color: var(--fg, hsl(0, 0%, 0%));
}

[class*="btn-"] {
  background-color: var(--btn-bg);
  /* background-image: var(--btn-bg-img, hsl(0, 100%, 100%)); */
  /* text-transform: uppercase; */
  color: var(--btn-fg, hsl(0, 100%, 100%));
  /* padding-block: 16px;
  margin-block-start: 34px;
  border-radius: 6px; */
  /* padding: 12px;
  padding-inline: 46px;
  border-radius: 100vw; */
}

.bg-dark {
  /* --bg: ; */
  --bg-img: var(--col-bg-image);
  --fg: var(--col-neutral-very-grayish-blue);
}

.bg-light {
  --bg: var(--col-neutral-very-grayish-blue);
  --fg: var(--col-neutral-grayish-blue);
}

/* .btn-primary .front-of-button {
  --btn-bg: var(--col-pri-strong-cyan);
}

.btn-primary.back-of-button {
  --btn-bg: var(--col-pri-back-bg);
}

.btn-secondary .front-of-button {
  --btn-bg: var(--col-pri-light-blue);
}

.btn-secondary.back-of-button {
  --btn-bg: var(--col-sec-back-bg);
} */

.btn-light {
  /* --btn-bg: ; */
  /* --fg is declared in .bg-dark which is applied to the parent element of the element that has .btn-light */
  /* <div class="bg-dark">
      <button class="btn-light">hello</button>
    </div> */
  /* since <button> is a child of div with .bg-dark we can use --fg on div children */
  --btn-bg: var(--col-neutral-white);
  --btn-fg: var(--col-neutral-black);
}

.btn-dark {
  --btn-bg-img: var(--col-bg-image);
  --btn-bg: ;
  --btn-fg: var(--col-neutral-very-grayish-blue);
}

.btn-accent {
  font-size: 0.75rem;
  font-weight: 700;

  padding: 12px;
  padding-inline: 56px;
  border-radius: 100vw;

  box-shadow: var(--box-shadow);

  --btn-bg: var(--col-pri-pink);
  --btn-fg: var(--col-neutral-white);
}

.light-theme {
  background-color: var(--light-theme-bg);
  color: var(--light-theme-fg);
}

.dark-theme {
  background-color: var(--dark-theme-bg);
  color: var(--dark-theme-fg);
}

.low-bold {
  font-weight: 400;
}

.high-bold {
  font-weight: 700;
}

.uppercase-text {
  text-transform: uppercase;
}

.btn-light:hover,
.btn-light:focus {
  background: transparent;
  color: var(--fg);
  border: 0.1px solid currentColor;
}

.btn-dark:hover,
.btn-dark:focus {
  background: transparent;
  color: var(--col-pri-button-bg);
  border: solid currentColor;
}

button:hover,
a:hover {
  cursor: pointer;
}

/* test out [class*=btn-]{} 
.btn-light{
    --bg
    --fg
}
.btn-dark{
    --bg
    --fg
} 
*/
/* hide h2 which are title for our section element */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* .visually-hidden{
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px)
} */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.skip-link {
  display: inline-block;
  border: 1px solid red;
  padding-block: 16px;
  padding-inline: 32px;
}

/* hide h2 which are title for our section element */

/* individual sections */

/* header */

[role="banner"] {
  background-image: url("images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position-y: 300px;
  text-align: center;
  background-color: var(--col-pri-intro-email-bg);
  padding-block: 34px;
  padding-inline: 24px;
  position: relative;
  z-index: 0;
  max-width: 1150px;
  margin-inline: auto;
}

[role="banner"]::after {
  /* will behind everything in the header except for the bg img of role="banner" */
  content: "";
  background-color: var(--col-pri-main-bg);
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 64%;
}

/* nav */

[class="header-style-wrapper"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-wrapper {
  width: 85px;
}

/* [role="navigation"] {
  color: var(--col-nav-link-nonactive);
} */

[role="navigation"] ul {
  display: flex;
  gap: 16px;
}

[role="navigation"] a {
  font-size: 0.85rem;
  font-family: var(--font-family-raleway);
}

/* hero-content */

[class="hero-image"] {
  width: 275px;
  margin-block: 56px;
  margin-block-end: 40px;
  margin-inline: auto;
}

/* title */

[class="hero-title"] {
  line-height: 1.5;
}

/* description */

.hero-description {
  font-size: 0.9rem;
  width: 37ch;
  margin-inline: auto;
  margin-block-end: 32px;
  color: var(--col-lighter-text);
  /* 36ch 52ch */
}

/* hero button */

[class="hero-content-button"] {
  /* --col-accent-cyan-start-gradient: hsl(176, 68%, 64%);
  --col-accent-blue-end-gradient: hsl(198, 60%, 50%); */
  background-image: linear-gradient(
    var(--col-accent-cyan-start-gradient),
    var(--col-accent-blue-end-gradient)
  );
  font-weight: 700;
  font-size: 0.85rem;
  padding: 14px;
  padding-inline: 80px;
  border-radius: 100vw;
}

@media screen and (min-width: 78.125rem) {
  [role="banner"] {
    padding: 64px;
    background-image: url("images/bg-curvy-desktop.svg");
    background-size: contain;
    background-position-y: 105%;
  }

  [role="banner"]::after {
    content: none;
  }
  .header-logo-wrapper {
    width: 150px;
  }
  .header-style-wrapper nav ul {
    gap: 56px;
  }

  /* hero content */
  .hero-image {
    width: 550px;
    margin-block: 72px;
    margin-block-end: 42px;
  }

  .hero-title {
    font-size: 2rem;
    width: 28ch;
    margin-inline: auto;
  }

  [class="hero-description"] {
    width: 54ch;
    font-size: 1rem;
  }
}

/* main */

[role="main"] {
  background-color: var(--col-pri-main-bg);
  max-width: 1150px;
  margin-inline: auto;
  padding-inline: 20px;
}

/* features */

.features {
  padding-block-start: 104px;
}

div.main-content-style-wrapper {
  text-align: center;
}

section[class*="main-content-style-wrapper"] img {
  width: 65px;
  margin-inline: auto;
}

section[class*="main-content-style-wrapper"] h3 {
  font-size: 1.2rem;
  margin-block-start: 48px;
}

section[class*="main-content-style-wrapper"] p {
  font-size: 0.85rem;
  width: 40ch;
  margin-inline: auto;
  line-height: 1.7;
  color: var(--col-lighter-text);
}

section.main-content-style-wrapper3 img {
  width: 55px;
}

/* lower specificity: 0 1 0 */

.main-content-style-wrapper > * + * {
  margin-block-start: 96px;
}

/* higher specificity: 0 2 1 */

/* section[class*="main-content-style-wrapper"]:not(:first-child) {
  margin-block-start: 96px;
} */

@media screen and (min-width: 78.125rem) {
  .main-content-style-wrapper > * + * {
    margin-block-start: revert;
  }

  .main-content-style-wrapper {
    width: 800px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
  }

  .main-content-style-wrapper3 {
    margin-inline-start: 32px;
  }

  section[class*="main-content-style-wrapper"] h3 {
    /* margin-block-start: 19px; */
    margin-block-start: 30px;
  }

  section.main-content-style-wrapper3 h3 {
    margin-block-start: 24px;
  }

  section.main-content-style-wrapper5 h3 {
    margin-block-start: 39px;
  }

  section[class*="main-content-style-wrapper"] p {
    font-size: 0.8rem;
  }

  [class*="main-content-style-wrapper"] .main-content-subsection__description1 {
    width: 44ch;
  }

  [class*="main-content-style-wrapper"] .main-content-subsection__description2,
  [class*="main-content-style-wrapper"] .main-content-subsection__description3 {
    width: 48ch;
  }
  [class*="main-content-style-wrapper"] .main-content-subsection__description4 {
    width: 47ch;
  }
}

/* marketing */

.marketing {
  padding-block-start: 120px;
  padding-inline: 26px;
}

[class="marketing-section-image"] {
  width: 310px;
  margin-inline: auto;
}

.marketing h3 {
  font-size: 1.2rem;
  text-align: center;
}
.marketing p {
  font-size: 0.9rem;
  width: 39ch;
  margin-inline: auto;
  color: var(--col-lighter-text);
}

.marketing-link {
  font-size: 0.85rem;
  color: var(--col-accent-cyan-start-gradient);
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.marketing-link::before {
  content: "";
  height: 1px;
  left: 0;
  right: 0;
  bottom: -6px;
  background-color: currentColor;
  display: inline-block;
  position: absolute;
}

@media screen and (min-width: 78.125rem) {
  .marketing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    padding-block-start: 100px;
  }
  [class="marketing-section-image"] {
    width: 490px;
    margin-inline: revert;
  }

  .marketing h3 {
    font-size: 1.9rem;
    text-align: revert;
    width: 20ch;
    line-height: 1.2;
  }

  .marketing p {
    font-size: 0.8rem;
    width: 60ch;
    margin-inline: revert;
  }
}

/* testimonials */

.testimonials {
  padding-block-start: 158px;
  padding-inline: 24px;
}

.testimonials-style-wrapper > * + * {
  margin-block-start: 24px;
}

.quote-img-style-container {
  position: relative;
}

.testimonials-style-wrapper section[class*="testimonial"] {
  background-color: var(--col-pri-testimonials-bg);
  padding: 14px;
  padding-inline: 20px;
  border-radius: 4px;
  box-shadow: 0.2px 0.5px 2.2px rgba(226, 221, 221, 0.02);
  /* without z-index 0 on positon: relative element we wont see red ::before elemt */
  /* z-index: 0; */
}

/* 
.testimonials-style-wrapper section[class*="testimonial"]::before {
  content: "";
  background-color: red;
  display: inline-block;
  z-index: -1;
  position: absolute;

declaring left: 99% and right: 1px we see red ::before element on the right of testimonial element
  
  top: 0;
  left: 99%;
  right: 1px;
  bottom: 0;
}

.testimonials-style-wrapper section[class*="testimonial"]::after {
  content: "";
} */

.quote-img-wrapper {
  width: 23px;
  /* position: absolute and fixed are intrinic
  width is based on content. putting a div img wrapper as a parent to our quote img
we can control the size of the img by declaring width on the img wrapper
  */
  position: absolute;
  top: -19px;
  left: 0;
}

.testimonials-style-wrapper p[class*="__description"] {
  color: var(--col-lighter-text);
  font-size: 0.7rem;
  max-width: 37ch;
  line-height: 1.7;
  margin-inline: auto;
}

.profile-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile-img-wrapper {
  width: 25px;
  /* having border-radius and overflow: hidden on img-wrapper there
  was a cut of at the bottom of img. putting border-radius on img worked
  */
  /* border-radius: 50%; */
  /* img inside of img-wrapper is overflowing using overflow hidden
  made img into a circle or we could declare border-radius on img element.
  */
  /* overflow: hidden; */
}

.profile-img-wrapper img {
  border-radius: 50%;
}

.profile-name-position {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.profile-name {
  font-size: 0.7rem;
}

.profile-position {
  color: var(--col-lighter-text);
  font-size: 0.5rem;
}

@media screen and (min-width: 78.125rem) {
  /* we set a fixed width on our descriptions inside our testimonials so its not shrinking
    so once our testimonial container is the smallest size it can be with the width of the description it will overflow if we made its parent container
    smaller using padding of that parent container.

    declaring max-width on the description allowed the text in description to shrink
    */
  .testimonials {
    /* if we declared a higher padding-inline value our children/content will overflow this container/element */
    padding-inline: 56px;
  }
  .testimonials-style-wrapper {
    display: flex;
    /* having justify-content: center and declaring padding-inline on the parent element of the parent container of our testimonials
    the values didnt shrink the testimonials. the padding-inline worked when we used justify-content: space-between
    setting justify-content center or space between did not give us the effect we want
    the space on the left and right were off
    */
    /* width: max-content;
    margin-inline: auto; */
    /* we declared width: max-content and margin-inline: auto then declared a smaller gap: value 
    to get the same space on the left and right of the testimonials
    */

    justify-content: space-between;
    /* gap: 22px; */
  }
  .testimonials-style-wrapper > * + * {
    margin-block-start: revert;
  }

  /* .quote-img-style-container is the parent of .testimonials1 and qoute-img-wrapper
  when we had the quote-img-wrapper inside of .testimonials1, the quote-img-wrapper parent stacking context is .testimonial1
  declaring z-index: -1 on quote-img-wrapper made it disappear and declaring a high z-index on .testimonial did not give us the effect we wanted because
  .quote-img-wrapper will always be a part of .testimonial1 stacking context since it is a child of .testimonial1

  we made a wrapper around both .testimonial1 and .quote-img-wrapper. we made both .testimonial1 and .quote-img-wrapper siblings that belonged to 
  .quote-img-style-container.

  then we declared postion:relative on .quote-img-style-container it will create a stacking context
  both .testimonial1 and .quote-img-wrapper will belong to the same stacking context.

  since we have .quote-img-wrapper as an element that is below .testimonial1 element, .quote-img-wrapper will appear above .testimonial1
  declaring z-index: -1 on qoute-img-wrapper will put it behind .testimonial1
  */
  .quote-img-style-container {
    z-index: 0;
  }

  .testimonials-style-wrapper section[class*="testimonial"] {
    padding: 24px;
  }

  /* .testimonial1::before {
    content: url("images/bg-quotes.png");
    position: absolute;
    top: 0;
    left: 0;
  } */

  .testimonials-style-wrapper p[class*="__description"] {
    font-size: 0.8rem;

    line-height: 1.4;
  }

  .quote-img-wrapper {
    width: 48px;
    top: -30px;
    left: -10px;
    z-index: -1;
  }
}

/* form call to action */

.call-to-action-input-button-container {
  margin-block-start: 32px;
}

/* without position: relative on .call-to-action every element will be a part of the html stacking context(default) 
the element that is lower in the html tree will appear above a higher element in the html tree

creating a stacking context on .call-to-action will make it appear above footer section when we use margin-block-end: negative value on .call-to-action
*/

.call-to-action {
  background-color: var(--col-pri-intro-email-bg);
  font-family: var(--font-family-raleway);
  text-align: center;
  border-radius: 8px;
  padding: 40px;
  padding-inline: 36px;
  /* declaring position: relative on this element will make it appear over footer section
  when we declare a negative value for margin-block-end
  */
  position: relative;
  /* create space between call to action and last testimonial element */
  margin-block-start: 164px;
  /* to make call to action element appear between main and footer section */
  margin-block-end: -175px;
}

.call-to-action__title {
  font-size: 1.1rem;
}

.call-to-action__description {
  font-size: 0.9rem;
  width: 32ch;
  margin-inline: auto;
}

[id="email"] {
  padding-block: 14px;
  padding-inline-start: 32px;
  border-radius: 100vw;
  border-width: 0;
  width: 100%;
  color: hsl(0, 0%, 0%);
}

[id="email"]::placeholder {
  color: gray;
  font-size: 0.8rem;
}

.call-to-action-button {
  background-image: linear-gradient(
    var(--col-accent-cyan-start-gradient),
    var(--col-accent-blue-end-gradient)
  );

  font-size: 0.9rem;
  width: 100%;
  padding-block: 14px;
  border-radius: 100vw;
  font-weight: 700;
  margin-block-start: 24px;
}

@media screen and (min-width: 78.125rem) {
  .call-to-action {
    max-width: 720px;
    margin-inline: auto;
    margin-block-end: -106px;
  }

  .call-to-action__title {
    font-size: 1.8rem;
  }

  .call-to-action__description {
    font-size: 0.75rem;
    width: 71ch;
    margin-block-start: 20px;
  }

  [id="email"] {
    padding-block: 10px;
    padding-inline-end: 174px;
    margin-inline-end: 28px;
    width: revert;
  }

  [id="email"]::placeholder {
    font-size: 0.7rem;
  }

  .call-to-action-button {
    font-size: 0.7rem;
    width: revert;
    padding-inline: 37px;
    margin-block-start: revert;
  }
}

/* footer */

[role="content-info"] {
  background-color: var(--col-pri-footer-bg);
  padding: 20px;
  padding-block-start: 252px;
  max-width: 1150px;
  margin-inline: auto;
}

.footer-logo-wrapper {
  padding-inline-start: 14px;
}

.contact-info {
  margin-block-start: 42px;
}

.contact-description,
.contact-phone,
.contact-email {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contact-phone {
  margin-block: 16px;
}

.location-icon-wrapper {
  align-self: flex-start;
  margin-block-start: 10px;
  margin-inline-end: 6px;
}

/* location icon when it is a flex item, its sibling the text
was making the img extremely small
we declared a width on description and made the location img regular size
*/

.contact-info__location {
  width: 31ch;
  line-height: 1.6;
}

.footer-nav-container {
  margin-block: 72px;
}

div.footer-nav-container ul {
  /* display: flex and gap is coming from 
    [role="navigation"] ul {
    display: flex;
    gap: 16px;
}

just need to change flex direction on footer ul
    */
  flex-direction: column;
}

.footer-nav-contact {
  margin-block-start: 40px;
}

.footer-nav-container a {
  font-size: 1rem;
}

.social-icon-wrapper {
  text-align: center;
}

.social-icon-wrapper path {
  fill: var(--col-neutral-white);
}

@media screen and (min-width: 78.125rem) {
  [role="content-info"] {
    padding-block-start: 185px;
    padding-inline-start: 64px;
  }

  .footer-logo-wrapper {
    width: 154px;
    padding-inline-start: revert;
  }

  .contact-info__location {
    width: 37ch;
    line-height: 1.6;
    font-size: 0.85rem;
  }
}
