@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700;900&display=swap");

:root {
  --clr-primary: hsl(300, 43%, 22%);
  --clr-secondary: hsl(333, 80%, 67%);

  --clr-neutral-200: hsl(303, 10%, 53%);
  --clr-neutral-300: hsl(300, 24%, 96%);
  --clr-neutral-400: hsl(0, 0%, 100%);

  --fs-200: 0.9375rem;
  --fs-300: 1rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: "Spartan";
  line-height: 1.5;
  font-size: var(--fs-200);
  margin: 0;
}

/* utilities */

.flow-content > * + * {
  margin: 1em 0 0 0;
}

.columns {
  display: flex;
  flex-flow: column;
}

.columns > * {
  flex-basis: 100%;
}

.columns > * + * {
  margin: 1em 0 0 0;
}

@media screen and (min-width: 84.375em) {
  .columns {
    flex-flow: row;
  }
  .col-2 {
    --flex-col: 40%;
  }
  .columns > * + * {
    margin: 0 0 0 2em;
  }
}

[class*="col-"] {
  flex-basis: var(--flex-col, 100%);
}

.col-1 {
  --flex-col: 25%;
}

.col-3 {
  --flex-col: 75%;
}

[class*="bg-"] {
  background: var(--bg, --clr-primary);
  color: var(--fg, #fff);
}

.bg-dark {
  --bg: var(--clr-primary);
  --fg: var(--clr-neutral-300);
}

.bg-light {
  --bg: var(--clr-neutral-300);
  --fg: var(--clr-primary);
}

.bg-accent {
  --fg: var(--clr-secondary);
}

/* utilities */

/* typography */

/* general layouts */

.wrapper {
  max-width: 84.375em;
  margin: 0 auto;
  padding: 1.5em;
}

/* general styles */

.selling-points-star-rating,
.customer-review {
  border-radius: 0.5em;
}

/* individual sections */

/* hero */
.hero {
  background-image: url("images/bg-pattern-top-mobile.svg"),
    url("images/bg-pattern-bottom-mobile.svg");
  background-size: cover, cover;
  background-position: 30rem -10rem, 1rem 15rem;
}
@media screen and (min-width: 50em) {
  .hero {
    background-image: url("images/bg-pattern-top-desktop.svg"),
      url("images/bg-pattern-bottom-desktop.svg");
    background-size: cover, cover;
    background-position: -50rem -10rem, 5rem 60rem;
  }
}

/* selling-points */

.selling-points {
  margin-top: 2.5rem;
}

.selling-points-content {
  text-align: center;
}

.selling-points-content h2 {
  font-size: 2rem;
  line-height: 1;
  color: var(--clr-primary);
}

.selling-points-content p {
  margin: 3rem 0;
}

@media screen and (min-width: 84.375em) {
  .selling-points-content h2 {
    font-size: 3rem;
    text-align: left;
  }
  .selling-points-content p {
    margin: 1rem 0;
    text-align: left;
    width: 38ch;
  }
}
/* selling-points stars */

.selling-points-star-ratings {
  text-align: center;
}

@media screen and (min-width: 84.375em) {
  .selling-points-star-ratings {
    text-align: left;
    margin: 0 auto;
    align-self: center;
  }

  .selling-points-star-rating:nth-child(2) {
    transform: translateX(4em);
  }
  .selling-points-star-rating:nth-child(3) {
    transform: translateX(8em);
  }
}

.selling-points-star-rating .stars-container:first-child {
  margin-top: 1rem;
}

.selling-points-star-rating p:last-child {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: var(--fw-600);
}

.stars-container {
  display: flex;
  justify-content: center;
}

.stars-container > * + * {
  margin-left: 0.3rem;
}

@media screen and (min-width: 84.375em) {
  .stars-container {
    flex-basis: 35%;
  }
  .selling-points-star-rating-text {
    flex-basis: 55%;
    margin-left: auto;
    margin-right: auto;
  }
}
/* customer reviews */

.customer-reviews {
  margin-top: 3.5rem;
}

.customer-review {
  padding: 1.5em;
}

.customer-info img {
  border-radius: 50%;
}

.customer-info {
  display: grid;
  grid-template-columns: 4em 1fr;
  align-items: center;
}

.customer-name {
  font-weight: var(--fw-600);
}

.customer-verified {
  font-size: 0.9rem;
}

.customer-info-right-side {
  margin-left: 2em;
}

.customer-qoute {
  margin: 1.5em 0 0 0;
}

@media screen and (min-width: 84.375em) {
  .customer-review:nth-child(2) {
    transform: translateY(1em);
  }
  .customer-review:nth-child(3) {
    transform: translateY(2em);
  }
}
