@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@300;400;700&display=swap");

:root {
  --clr-primary-light-red: hsl(356, 100%, 66%);
  --clr-very-light-red: hsl(355, 100%, 74%);
  --clr-vary-dark-blue: hsl(208, 49%, 24%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-grayish-blue: hsl(240, 2%, 79%);
  --clr-dark-grayish-blue: hsl(207, 13%, 34%);
  --clr-black-blue: hsl(240, 10%, 16%);

  --clr-gradient-very-light-red: hsl(13, 100%, 72%);
  --clr-gradient-light-red: hsl(353, 100%, 62%);
  --clr-gradient-gray-blue: hsl(237, 17%, 21%);
  --clr-gradient-desaturated-blue: hsl(237, 23%, 32%);

  --fs-200: 0.9375rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.5rem;
  --fs-600: 1.75rem;
  --fs-700: 2rem;

  --spacer-xxs: 0.5rem;
  --spacer-xs: 0.8rem;
  --spacer-s: 1rem;
  --spacer-m: 1.5rem;
  --spacer-l: 2rem;

  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --ff-overpass: "Overpass", sans-serif;
  --ff-ubuntu: "Ubuntu", sans-serif;
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
body,
ul {
  margin: 0;
  /* figure, dl, and dd have default margin */
  /* font-weight: 100; */
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

p {
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: var(--link-fg, var(--clr-neutral-900));
  font-weight: var(--fw-700);
  font-size: var(--fs-300);
}

a:hover,
a:focus {
  text-decoration: underline;
}

img {
  /* using object-fit for images. we have to set a height or a min-height on the image and the width of 100% 
  exception to the rule of setting a height. we can sometime use it on a child element.
  */
  max-width: 100%;
  /* we use max-width: 100% so when we have an img element inside of a div and we want to use flex which means the div will be a flex item
    the img will shrink and grow as its parent element shrink and grows
    */
  display: block;
  height: auto;
}

ul[class],
li[class] {
  list-style: none;
  padding: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* button {
  border: none;
}

button,
input {
  display: block;
} */

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* reset */

/* utilties */

html,
body {
  height: 100%;
}

body {
  color: var(--clr-dark-grayish-blue);
  font-family: var(--ff-overpass);
}

button {
  border: none;
}

/* container wrapper */

.max-width {
  /* or the width we want our container/parent element to be */
  max-width: 200px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
}

/* container wrapper */

.flow-content > * + * {
  margin: var(--gap, 1rem) 0 0 0;
}

.columns {
  display: flex;
  flex-flow: column;
}

.columns > * {
  flex-basis: 100%;
}

.columns > * + * {
  margin: var(--flex-gap, 1rem) 0 0 0;
}

[class*="col-"] {
  flex-basis: var(--flex-col, 100%);
}

.col-1 {
  --flex-col: 25%;
}
.col- {
  --flex-col: 50%;
}
.col- {
  --flex-col: 75%;
}

[class*="bg-"] {
  background-color: var(--bg, hsl(0, 0%, 100%));
  color: var(--fg, hsl(0, 0%, 0%));
}

.btn {
}

.bg-dark {
  --fg: var(--clr-white);
}

.bg-light {
  --fg: var(--clr-dark-grayish-blue);
}

.bg-accent {
  --fg: var(--clr-white);
}

/* hide h2 which are title for our section element */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hide {
  display: none;
}

.hide-off-left {
  position: absolute;
  top: -9999px;
  left: -9999px;
  overflow: hidden;
}

/* hide h2 which are title for our section element */

/* accessibility */

a:focus,
a:hover {
  width: 100%;
}

.hamburger:focus,
a:focus,
a:hover {
  outline-offset: 5px;
  outline: 3px dashed hsl(0, 0%, 0%);
}
/* accessibility */

/* utilities */

/* general styles */
/* general styles */

/* general layout  */
/* general layout  */

/* individual sections */

/* header */

a {
  display: inline-block;
}

.landing {
  padding: 24px;
  color: hsl(0, 0%, 100%);
  /* min-height: 100%; */
  background-image: url("images/bg-pattern-intro.svg"),
    linear-gradient(
      to bottom right,
      var(--clr-gradient-very-light-red),
      var(--clr-gradient-light-red)
    );
  background-size: 64rem 64rem;
  background-position: -16rem -15rem;
  border-radius: 0 0 0 72px;
}

.logo-hamburger-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-nav-container .logo-container {
  width: 80px;
}

/* hamburger */

.hamburger-line,
.hamburger-line::before,
.hamburger-line::after {
  background-color: hsl(0, 0%, 100%);
  display: inline-block;
  /* border: 1px solid red; */
  width: 32px;
  height: 2px;
}

.hamburger-line {
  transition: transform 1s linear opacity 0.5s linear;
  transform: translateY(0.7rem);
}

.hamburger-line::before {
  content: "";
  /* display: none; */

  transform: translateY(-0.5rem);
}

.hamburger-line::after {
  content: "";
  transform: translateY(-1.5rem);
}

/* toggle navbar */

.open .hamburger-line {
  transform: translateY(1rem) rotate(45deg);
}

.open .hamburger-line::before {
  opacity: 0;
}

.open .hamburger-line::after {
  transform: translateY(-2.1rem) rotate(90deg);
}

/* toggle navbar */

/* hamburger */

/* nav-login-container */

.nav-login-container {
  /* display: none; */
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  color: var(--clr-vary-dark-blue);
  border-radius: 0.3rem;
  padding: 16px;
  margin-block-start: 24px;
  box-shadow: 2px 2px 10px rgba(116, 116, 119, 0.856);
}

.header-items:nth-of-type(1) .arrow-icon {
  /* top: 12px;
  left: 188px; */
  top: 16px;
  right: 96px;
}
.header-items:nth-of-type(2) .arrow-icon {
  top: 16px;
  /* left: 188px; */
  right: 96px;
}
.header-items:nth-of-type(3) .arrow-icon {
  top: 16px;
  /* left: 188px; */
  right: 96px;
}

.header-items:nth-of-type(3) .header-sublist {
  margin-bottom: 24px;
}

.arrow-icon {
  /* border have to go above border-width or else we will get a box with four borders */
  border: solid var(--clr-primary-light-red);
  border-width: 0 2px 2px 0;
  position: absolute;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}

a.btn-link[aria-expanded="true"] span.arrow-icon {
  transform: rotate(-135deg);
  top: 20px;
}

/* submenu */

ul.header-sublist {
  /* border: 1px solid red; */
  --gap: 0.5rem;
  border-radius: 8px;
  padding: 16px 0;
  margin: 16px 0;
  background-color: hsl(214, 12%, 89%);
}

/* hide or show submenu */

a.btn-link[aria-expanded="false"] ~ ul.header-sublist {
  position: absolute;
  top: -9999px;
  left: -9999px;
  overflow: hidden;
}

a.btn-link[aria-expanded="true"] ~ ul.header-sublist {
  position: static;
}

ul.header-sublist:focus-within .header-sublinks {
  position: static;
}

/* hide or show submenu */

/* submenu */

/* menu of submenu */

ul.header-sublist-submenu {
  --gap: 0.5rem;
  background-color: hsl(8.2, 100%, 71.2%);
  box-shadow: inset 0 0 10px #000000;
  padding-block-start: 8px;
  padding-block-end: 8px;
}

/* menu of submenu */

/* nav-login-container */

/* login */

.login-container {
  display: flex;
  flex-flow: column;
  border-top: 1px solid hsl(214, 12%, 89%);
  padding: 24px 0;
}

/* login */

/* header */

/* text-container */

.landing .text-container {
  text-align: center;
  padding: 96px 16px;
}

.primary-title {
  line-height: 1.5;
  margin-block-end: 8px;
  padding: 0 40px;
}

.landing .text-container p {
  font-size: 0.8rem;
  padding: 0 40px;
  margin-block-end: 32px;
}

/* buttons */

[class*="btn-"] {
  /* font-size: 0.7rem; */
  padding: 0.8em 1em;
  font-weight: var(--fw-700);
  border-radius: 100vw;
}

[class*="start"] {
  background-color: hsl(0, 0%, 100%);
  color: var(--clr-primary-light-red);
  margin-inline-end: 16px;
}

[class*="learn"] {
  background-color: transparent;
  border: 1px solid hsl(0, 0%, 100%);
}

[class*="btn-login"] {
  background-color: transparent;
  color: var(--clr-dark-grayish-blue);
  font-size: inherit;
  margin-block-end: 8px;
  border-radius: 0;
}

[class*="signup"] {
  font-size: inherit;
  padding: 0.6em 2em;
  color: hsl(0, 0%, 100%);
  background-image: linear-gradient(
    to bottom right,
    var(--clr-gradient-very-light-red),
    var(--clr-gradient-light-red)
  );
  align-self: center;
}

.btn-link {
  position: relative;
  background-color: transparent;
  width: 100%;
  border-radius: 0;
}

/* buttons */
/* text-container */

/* main */

/* design-content */

.designer-content .container {
  padding: 64px 24px;
  text-align: center;
}

.design-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "design-img"
    "design-text";
}

.design-wrapper .text-container {
  grid-area: design-text;
}

.design-wrapper .img-container {
  grid-area: design-img;
  margin: 40px -24px;
}

.design-wrapper h3 {
  font-size: var(--fs-400);
  padding: 0 64px;
}

.design-wrapper p {
  font-size: calc(var(--fs-200) - 0.2rem);
  padding: 0 32px;
  line-height: 1.8;
}

.designer-content .sub-text-container:nth-of-type(2) {
  margin-block-start: 40px;
}

/* design-content */

/* performance-content */

.performance-content {
  margin-block-start: 120px;
  background-image: url("images/bg-pattern-circles.svg"),
    linear-gradient(
      to bottom right,
      var(--clr-gradient-gray-blue),
      var(--clr-gradient-desaturated-blue)
    );
  border-radius: 0 80px 0 72px;
  background-size: cover, cover;
  background-repeat: no-repeat;
  background-position: -72px -200px, center;
  color: hsl(0, 0%, 100%);
}

.performance-content .container {
  padding: 56px 24px;
  padding-block-start: 0.01px;
}

.performance-content .img-container {
  margin-block-start: -136px;
}

.performance-content .text-container {
  /* max-width: 300px;
  margin: 0 auto; */
  margin-block-end: 56px;
  text-align: center;
}

.performance-content h2 {
  font-size: 1.7rem;
  line-height: 1.5;
}

.performance-content p {
  max-width: 300px;
  font-size: calc(var(--fs-200) - 0.2rem);
  padding: 0 32px;
  line-height: 2;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

/* performance-content */

/* tools-content */

.tools-content .container {
  padding: 56px 24px;
}

.tools-content .img-container {
  margin-inline-start: -24px;
  margin-inline-end: -24px;
  margin-block-end: 40px;
}

.tools-content .text-container {
  text-align: center;
}

.tools-content h3 {
  font-size: 1.4rem;
  margin-block-end: 24px;
}

.tools-content p {
  padding: 0 24px;
  font-size: 0.85rem;
  line-height: 1.8;
}

.tools-content .sub-text-container:nth-of-type(1) p {
  margin-block-end: 24px;
}

/* tools-content */

/* main */

/* footer */

.footer-logo-nav-container {
  background-color: var(--clr-vary-dark-blue);
  border-radius: 0 72px 0 0;
  color: hsl(0, 0%, 100%);
  font-size: calc(var(--fs-200) - 0.2rem);
  text-align: center;
  font-family: var(--ff-ubuntu);
  padding: 64px 0;
}

.footer-logo-nav-container .logo-container {
  width: 80px;
  margin-block-end: 48px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.footer-logo-nav-container .footer-list {
  --gap: 8px;
}

.footer-logo-nav-container .footer-items {
  font-weight: 700;
}

.footer-logo-nav-container .footer-items:first-child {
  margin-block-end: 24px;
}

.footer-logo-nav-container .footer-items:not(:first-child) a {
  font-size: inherit;
  font-weight: 300;
}

.footer-logo-nav-container .footer-list:not(:last-child) {
  margin-block-end: 16px;
}

/* footer */

/* individual sections */
