@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  /* primary */
  --color-primary-moderate-blue: hsl(238, 40%, 52%);
  --color-primary-soft-red: hsl(358, 79%, 66%); /* delete btn bg */
  --color-primary-light-grayish-blue: hsl(239, 57%, 85%);
  --color-primary-pale-red: hsl(357, 100%, 86%);

  --color-neutral-dark-blue: hsl(212, 24%, 26%);
  --color-neutral-grayish-blue: hsl(211, 10%, 45%); /* cancel btn*/
  --color-neutral-light-gray: hsl(223, 19%, 93%);
  --color-neutral-very-light-gray: hsl(228, 33%, 97%); /* app background */
  --color-neutral-black: hsl(0, 0%, 0%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --matching-gap-padding: 16px;
  --brdr-radius: 8px;
  /* padding */
  --padding-small: 8px;
  --padding-medium: 16px;
  --padding-large: 24px;
  /* margin */
  --margin-small: 8px;
  --margin-medium: 16px;
  --margin-large: 24px;

  --color-hsl-black: 0, 0%, 0%;

  --box-shadow: 0px 0.3px 0.7px rgba(0, 0, 0, 0.02),
    0px 0.7px 1.7px rgba(0, 0, 0, 0.028), 0px 1.4px 3.3px rgba(0, 0, 0, 0.035),
    0px 2.5px 5.8px rgba(0, 0, 0, 0.042), 0px 4.6px 10.9px rgba(0, 0, 0, 0.05),
    0px 11px 26px rgba(0, 0, 0, 0.07);

  /***** background *****/
  /* bg-img top and bg-color-bottom */
  /* todo input,todo listitem,items left/complete, views btns(mobile) */
  /***** foreground *****/
  /***** example for foreground: *****/
  /* --todo-input-foreground: var(--color-lighttheme-todo-listitem, var(--color-darktheme-todo-text-typing-btn-hover) */
  /* input placeholder, input typing, todo list text, items left, views btns(mobile)  
  todo list crossed-out, todo list hover, views btns and clear btn hover, text below todo list
  */

  /* headings */
  /* --font-family-poppins: "Poppins", sans-serif; */
  /* body, call-to-actions */
  --font-family-rubik: "Rubik", sans-serif;
}

/* reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

button {
  border: none;
}

ul[role],
li[role] {
  list-style: none;
  padding: 0;
}

/* utilities */

.max-width {
  /* or the width we want our container/parent element to be */
  max-width: 1375px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  /* padding-inline-start: 16px;
  padding-inline-end: 16px; */
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

[href="#main-content"] {
  position: absolute;
  top: 0;
  left: 100%; /* move of the screen */
}

[href="#main-content"]:focus {
  left: 62px;
}

.skip-link {
  display: none;
  border: 1px solid red;
  padding-block: 16px;
  padding-inline: 32px;
  z-index: 3;
}

@media screen and (min-width: 70rem) {
  .skip-link {
    display: inline-block;
  }
}
/* general style */

body {
  background-color: var(--color-neutral-very-light-gray);
  font-family: var(--font-family-rubik);
}

p {
  color: var(--color-neutral-grayish-blue);
  line-height: 1.5;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button[class*="post"]:focus,
.select-user-btn:focus {
  outline: none;
  box-shadow: inset 0 0 0 5px var(--color-neutral-black);
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 8px;
  padding-inline: 16px;
  border-radius: var(--brdr-radius);
  border: 1px solid var(--color-neutral-black);
  cursor: pointer;
}

[class*="post"],
.select-user-btn {
  background-color: var(--color-primary-moderate-blue);
  color: var(--color-neutral-white);
  padding: 8px;
  padding-inline: 20px;
  border-radius: var(--brdr-radius);
}

.comment-textbox,
.content,
.reply-textbox {
  background-color: var(--color-neutral-white);
  border-radius: var(--brdr-radius);
}

.reply-textbox {
  margin-block-start: 8px;
}

.comments > * + *,
[class*="replies"] > * + * {
  margin-block-start: var(--margin-medium);
}

@media screen and (min-width: 46.845rem) {
  p {
    line-height: 1.2;
  }
  .plus:hover svg path,
  .minus:hover svg path {
    fill: var(--color-primary-moderate-blue);
  }
  [class$="-btn"]:hover,
  [class$="-btn"]:focus {
    opacity: 0.5;
  }
  textarea:hover,
  textarea:focus {
    border-color: var(--color-primary-moderate-blue);
  }
}

/* individual sections */

[id="app-wrapper"] {
  padding-inline: 12px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-block-end: 32px;
  max-width: 750px;
  margin-inline: auto;
}

/* comments container */

.comments {
  margin-block-start: auto;
}

/* current user container grid */

.content {
  padding: var(--padding-medium);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    "user-info user-info user-info user-info user-info user-info user-info user-info"
    "textarea textarea textarea textarea textarea textarea textarea textarea"
    "counter counter . . . reply-btn reply-btn reply-btn";
}

[data-currentuser="true"] {
  /* build grid use currentuser is true */
  grid-template-areas:
    "user-info user-info user-info user-info user-info user-info user-info user-info"
    "textarea textarea textarea textarea textarea textarea textarea textarea"
    ". . . . . update-btn update-btn update-btn"
    "counter counter . delete-edit delete-edit delete-edit delete-edit delete-edit";
}

/* counter */

.like-counter {
  background-color: var(--color-neutral-light-gray);
  color: var(--color-primary-moderate-blue);
  font-weight: 500;
  width: max-content;
  display: flex;
  align-items: center;
  grid-area: counter;
  border-radius: var(--brdr-radius);
}

.like-counter button {
  padding: 14px;
}

.like-counter button:nth-of-type(1) {
  border-top-left-radius: var(--brdr-radius);
  border-bottom-left-radius: var(--brdr-radius);
}
.like-counter button:nth-of-type(2) {
  border-top-right-radius: var(--brdr-radius);
  border-bottom-right-radius: var(--brdr-radius);
}

@media screen and (min-width: 48.845rem) {
  .like-counter {
    flex-direction: column;
  }
  .like-counter button:nth-of-type(1) {
    border-top-left-radius: var(--brdr-radius);
    border-top-right-radius: var(--brdr-radius);
    border-bottom-left-radius: revert;
  }
  .like-counter button:nth-of-type(2) {
    border-top-right-radius: revert;
    border-bottom-left-radius: var(--brdr-radius);
    border-bottom-right-radius: var(--brdr-radius);
  }
  .content {
    grid-template-columns: min-content repeat(8, 1fr);
    gap: 10px 16px;
    grid-template-areas:
      "counter user-info user-info user-info user-info user-info reply-btn reply-btn reply-btn"
      "counter textarea textarea textarea textarea textarea textarea textarea textarea"
      "counter textarea textarea textarea textarea textarea textarea textarea textarea"
      ". textarea textarea textarea textarea textarea textarea textarea textarea";
  }
  /* "user-info user-info user-info user-info user-info user-info user-info user-info"
    "textarea textarea textarea textarea textarea textarea textarea textarea"
    ". . . . . update-btn update-btn update-btn"
    "counter counter . delete-edit delete-edit delete-edit delete-edit delete-edit"; */
  [data-currentuser="true"] {
    grid-template-areas:
      "counter user-info user-info user-info user-info user-info delete-edit delete-edit delete-edit"
      "counter textarea textarea textarea textarea textarea textarea textarea textarea"
      ". textarea textarea textarea textarea textarea textarea textarea textarea"
      ". . . . . . update-btn update-btn update-btn";
  }
  .update-post-btn {
    justify-self: end;
  }
}

/* user-info */

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  grid-area: user-info;
}

.user-info img,
.avatar img {
  width: 32px;
}

.name {
  font-weight: 500;
}

[data-currentuser="false"] .status {
  display: none;
}

.status {
  background-color: var(--color-primary-moderate-blue);
  color: var(--color-neutral-white);
  font-size: 0.9rem;
  padding-inline: 6px;
  border-radius: 5px;
}

.createdat {
  color: var(--color-neutral-grayish-blue);
}

/* reply,delete,edit btn */

.reply-btn {
  grid-area: reply-btn;
  justify-self: end;
}

[data-currentuser="true"] .reply-btn {
  display: none;
}

.reply-btn,
.delete-trash-btn,
.edit-btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--edit-delete-reply);
  gap: 8px;
}

.delete-edit-img-container {
  display: flex;
  grid-area: delete-edit;
  justify-content: end;
  gap: 8px;
}

.reply-btn,
.edit-btn {
  --edit-delete-reply: var(--color-primary-moderate-blue);
}

.delete-trash-btn {
  --edit-delete-reply: var(--color-primary-soft-red);
}

/* current user delete/edit btn */

[data-currentuser="false"] .delete-edit-img-container {
  display: none;
}

/* edit btn click update/textarea */

.paragraph-edit-box-container {
  grid-area: textarea;
  margin-block: var(--margin-small);
}

.atUser {
  color: var(--color-primary-moderate-blue);
  font-weight: 500;
}

.update-post-btn {
  grid-area: update-btn;
}

[editbtnclick="true"] .textarea-wrapper,
[editbtnclick="true"] + button {
  display: revert;
}

[editbtnclick="true"] p {
  display: none;
}

[editbtnclick="false"] .textarea-wrapper,
[editbtnclick="false"] + button {
  display: none;
}

/* reply text box */

div[replybtnclick="false"] {
  display: none;
}

/* [data-currentuser="false"] .update-post-btn,{} */

/* on hover/focus +/- sign will be moderate-blue */

/* have two display: grid declarations */
/* one for data-currentUser="true" and one data-currentUser="false"*/

/* div with attr linerepliesbox */

div[linerepliesbox] {
  margin-block-start: var(--margin-medium);
  display: flex;
}

div[hasReplies="false"] {
  display: none;
}

[class*="-firstlevel-replies"] {
  /* min-width is for the textarea */
  /* max-width: 330px; */
  /* using flex-basis % so both textarea and <p> will be similar width */
  /* when we use min-width for textarea and <p> the two containers were not responsive */
  /* when we used max-width the <p> was the width we wanted but the textarea was smaller */
  /* because it didnt have any content/text content applied to it */
  flex-basis: 95%;
}

/* line container */

[linerepliesbox*="level"] .line-container {
  flex-grow: 1;
  display: flex;
  /* flex-basis: 5%; */
}

[linerepliesbox*="level"] .line {
  width: 2px;
  display: inline-block;
  background-color: var(--color-neutral-light-gray);
}

/* second level */

[class*="-secondlevel-replies"] {
  /* max-width: 315px; */
  flex-basis: calc(355 / 375 * 100%);
}

@media screen and (min-width: 25.3125rem) {
  [class*="-firstlevel-replies"] {
    /* min-width is for the textarea */
    /* max-width: 650px; */
    flex-basis: calc(680 / 750 * 100%);
  }
  [class*="-secondlevel-replies"] {
    /* max-width: 575px; */
    flex-basis: calc(665 / 750 * 100%);
  }
  [linerepliesbox*="level"] .line {
    margin-inline: auto;
  }
}

@media screen and (min-width: 46.845rem) {
  .paragraph-edit-box-container {
    margin-block: revert;
  }

  .paragraph-edit-box-container p,
  .paragraph-edit-box-container textarea {
    line-height: 1.5;
  }
  .paragraph-edit-box-container textarea {
    height: calc(4rem + 2.5rem);
  }
}

/* user select btns comment wrapper */

.user-select-btns-comment-text-box {
  margin-block-start: var(--margin-medium);
}

/* comments entry text container */

.comment-textbox,
.reply-textbox {
  display: grid;
  padding: var(--matching-gap-padding);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--matching-gap-padding);
  grid-template-areas:
    "textbox textbox textbox textbox"
    "avatar avatar avatar post-btn";
}

.comment-textbox .avatar,
.reply-textbox .avatar {
  grid-area: avatar;
}

.comment-textbox .avatar {
  display: flex;
  gap: var(--matching-gap-padding);
}

.comment-textbox .avatar img,
.reply-textbox .avatar img {
  width: 32px;
  align-self: center;
}

.select-user-btn {
  font-size: 0.8rem;
  font-weight: 500;
  padding-inline: 12px;
  margin-inline: auto;
}

.comment-textbox .textarea-wrapper,
.reply-textbox .textarea-wrapper {
  grid-area: textbox;
}

/* grid */

.post-send-btn,
.reply-post-btn {
  grid-area: post-btn;
  justify-self: end;
}

@media screen and (min-width: 46.845rem) {
  .comment-textbox,
  .reply-textbox {
    --matching-gap-padding: 16px;
    grid-template-columns: max-content 1fr min-content;
    grid-template-areas: "avatar textbox post-btn";
  }
  .post-send-btn,
  .reply-post-btn {
    align-self: start;
  }
  .comment-textbox .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .comment-textbox .avatar img,
  .reply-textbox .avatar img {
    width: 42px;
  }
}

/* modals */

/* select user modals */

/* show or hide select user button modal */

.user-select-btns {
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.7);
  /* center trick using position absolute */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

[userclickselectuser="false"] {
  display: none;
}

.select-user-modal-wrapper {
  /* center trick using position absolute */
  position: absolute;
  inset: 0;
  margin: auto;
  height: min-content;
  width: max-content;
  /* margin-inline: 16px; */
  border-radius: var(--brdr-radius);
  padding: 16px;
  padding-inline: 32px;
  background-color: var(--color-primary-moderate-blue);
}

.close-select-user-modal {
  padding: 12px;
  padding-inline: 24px;
  border-radius: var(--brdr-radius);
  background-color: var(--color-neutral-white);
  box-shadow: var(--box-shadow);
}

.close-select-user-modal:focus {
  outline: 5px solid var(--color-neutral-black);
}

.close-select-user-modal path {
  fill: var(--color-primary-moderate-blue);
}

.select-user-buttons-wrapper {
  margin-block-start: 16px;
}

.select-user-buttons-wrapper > * + * {
  margin-inline-start: 16px;
}

.select-user-buttons-wrapper button:focus {
  outline: 5px solid var(--color-neutral-white);
}

.select-user-buttons-wrapper button {
  border-radius: 50%;
  padding: 0px;
}

/* delete comment modal */

.delete-comment-reply-modal-wrapper {
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.7);
  display: none;
  /*! display: none; */
}

[deletebtnclick="true"] {
  display: revert;
}

.delete-comment-replay-container {
  background-color: var(--color-neutral-white);
  color: var(--color-neutral-dark-blue);
  padding: var(--padding-large);
  position: absolute;
  height: min-content;
  margin: auto;
  width: 350px;
  inset: 0;
  border-radius: var(--brdr-radius);
}

/* delete modal title */

.delete-comment-replay-container h2 {
  font-size: 1.3rem;
}

/* delete modal paragraph */

.delete-comment-replay-container p {
  margin-block: var(--margin-small);
}

/* delete modal buttons */

.cancel-delete-container button {
  background-color: var(--delete-modal-btn-bg);
  color: var(--color-neutral-white);
  padding: calc(var(--padding-medium) - 4px);
  padding-inline: var(--padding-large);
  border-radius: var(--brdr-radius);
}

.cancel-btn {
  --delete-modal-btn-bg: var(--color-neutral-grayish-blue);
  margin-inline-end: var(--margin-small);
}

.delete-btn {
  --delete-modal-btn-bg: var(--color-primary-soft-red);
}

.delete-comment-reply-modal-wrapper.show {
  display: revert;
}

@media screen and (min-width: 46.845rem) {
}
