@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");

:root {
  --clr-very-dark-blue: hsl(217, 19%, 35%);
  --clr-dark-blue: hsl(214, 17%, 51%);
  --clr-grayish-blue: hsl(212, 23%, 69%);
  --clr-light-grayish-blue: hsl(210, 46%, 95%);

  --fs-200: 0.6875rem;
  --fs-300: 0.8125rem;

  --fw-500: 500;
  --fw-700: 700;
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: "Manrope";
  line-height: 1.5;
  font-size: var(--fs-300);
  color: var(--clr-very-dark-blue);
  margin: 0;
}

/* utilities */

.flow-content > * + * {
  margin: 1em 0 0 0;
}

.columns {
  display: flex;
  flex-flow: column nowrap;
}

.columns > * {
  flex-basis: 100%;
}

[class*="col-"] {
  flex-basis: var(--flex-col, 100%);
}

.col-1 {
  --flex-col: 25%;
}
.col-2 {
  --flex-col: 50%;
}
.col-3 {
  --flex-col: 75%;
}

[class*="bg-"] {
  background: var(--bg, #fff);
  color: var(--fg, var(--clr-grayish-blue));
}

.bg-dark {
  --bg: var(--clr-very-dark-blue);
  --fg: var(var(--clr-dark-blue));
}

.btn {
  background: var(--btn-bg, var(--clr-grayish-blue));
  color: var(--btn-fg, var(--clr-very-dark-blue));
}

.btn-dark {
  --btn-bg: var(--clr-grayish-blue);
  --btn-fg: var(--clr-light-grayish-blue);
}

/* general layout */

/* general styles */

/* individual sections */

/* typography */

.wrapper {
  padding: 2em;
}

.img-container img {
  border-radius: 1em 1em 0 0;
}
/* content */

.article-preview {
  background-color: var(--clr-grayish-blue);
}

.content {
  max-width: 30em;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 1em;
  overflow: hidden;
}

/* light-dark author contaienr */

.author-light-dark-container {
  position: relative;
}

/* content-author */

.content-author,
.author-dark-container {
  display: flex;
  align-items: center;
  padding: 2em;
}

.content-author-img {
  flex-basis: 12%;
}

.content-author-img img {
  border-radius: 50%;
}

.content-author-info {
  margin-left: 1em;
}

.content-author-name {
  font-weight: var(--fw-700);
}

.content-author-share-btn {
  cursor: pointer;
  background-color: var(--btn-bg, var(--clr-light-grayish-blue));
  padding: 0.7em;
  border-radius: 50%;
  margin-left: auto;
}

/* author-dark-share */

.author-dark-container {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  /* z-index: -1; */
}

.dark-container-text {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.social-icon-container {
  display: flex;
  flex-basis: 40%;
  margin: 0 auto;
  justify-content: space-evenly;
}

.btn-dark:last-child {
  flex-basis: 10%;
}
