@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  --color-primary-soft-red: hsl(7, 99%, 70%);
  --color-primary-yellow: hsl(51, 100%, 49%);
  --color-primary-dark-cyan: hsl(167, 40%, 24%);
  --color-primary-dark-blue: hsl(198, 62%, 26%);
  --color-primary-moderate-cyan: hsl(168, 34%, 41%);
  --color-red-bar: hsl(9, 100%, 91%);
  --color-yellow-bar: hsl(50, 95%, 85%);

  --color-neutral-very-dark-des-blue: hsl(212, 27%, 19%);
  --color-neutral-very-dark-grayish-blue: hsl(213, 9%, 39%);
  --color-neutral-dark-grayish-blue: hsl(232, 10%, 55%);
  --color-neutral-grayish-blue: hsl(210, 4%, 67%);
  --color-neutral-black: hsl(0, 0%, 0%);
  --color-neutral-white: hsl(0, 0%, 100%);

  --font-family-barlow: "Barlow", sans-serif;
  --font-family-fraunces: "Fraunces", serif;

  --font-size-intro-para: calc(15 / 16 * 1rem);
  --font-size-200: 0.9375rem;
  --font-size-300: 1rem;
  --font-size-400: 1.25rem;
  --font-size-500: 1.5rem;
  --font-size-600: 1.75rem;
  --font-size-700: 2rem;

  --spacer-xxs: 0.5rem;
  --spacer-xs: 0.8rem;
  --spacer-s: 1rem;
  --spacer-m: 1.5rem;
  --spacer-l: 2rem;

  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* code below is from inclusive design patterns */
/* html {
  font-size: calc(1em + 1vw);
} */

body {
  /* background-color: var(--color-light-grayish-cyan); */
  /* use color: revert for text that we dont want to be grayish blue */
  /* color: var(--color-neutral-grayish-blue); */
}

h1,
h2,
h3,
h4,
body,
ul {
  margin: 0;
  /* figure, dl, and dd have default margin */
  /* font-weight: 100; */
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--link-fg, var(--clr-neutral-900));
  font-weight: var(--fw-700);
  font-size: var(--fs-300);
}

a:hover,
a:focus {
  text-decoration: none;
}

img {
  /* using object-fit for images. we have to set a height or a min-height on the image and the width of 100% 
  exception to the rule of setting a height. we can sometime use it on a child element.
  */
  max-width: 100%;
  /* we use max-width: 100% so when we have an img element inside of a div and we want to use flex which means the div will be a flex item
    the img will shrink and grow as its parent element shrink and grows
    */
  display: block;
  height: auto;
}

ul[role],
li[role] {
  list-style: none;
  padding: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  border: none;
}

/* button {

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* reset */

/* utilities */

/* skip link using attr selector */

[href="#main-content"] {
  position: absolute;
  top: 0;
  right: 100%; /* move of the screen */
}

[href="#main-content"]:focus {
  right: auto;
}

.skip-link {
  color: red;
  border: 1px solid black;
  display: inline-block;
  border-radius: 8px;
  padding-inline: 12px;
  padding-block-start: 8px;
  padding-block-end: 10px;
}

/* skip link using attr selector */

/* we can use min-height on the element we want its height to be 100% */
html,
body {
  height: 100%;
}

/* we can use min-height on the element we want its height to be 100% */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* reset */

/* utilities */

/* container wrapper */

.max-width-wrapper {
  /* or the width we want our container/parent element to be */
  max-width: var(--width-wrapper, 350px);
  margin-inline-start: auto;
  margin-inline-end: auto;
  /* padding-inline-start: 16px;
  padding-inline-end: 16px; */
}

/* utitlities */

.flow-content > * + * {
  margin: var(--gap, 8px) 0 0 0;
}

.columns {
  display: flex;
  flex-direction: column;
}

.columns > * {
  flex-basis: 100%;
}

[class*="col-"] {
  flex-basis: var(--col-basis, 100%);
}

.col-1 {
  --col-basis: 25%;
}
.col-2 {
  --col-basis: 50%;
}
.col-3 {
  --col-basis: 75%;
}

[class*="btn"] {
  background-color: var(--bg, var(--color-primary-white));
  color: var(--fg, var(--color-primary-black));

  /* border-radius: 5px; */
  /* padding: var(--spacer-block) var(--spacer-inline); */
  /* font-weight: var(--font-weight-700); */
  /* to make element look like a button */
  /* border-radius: 100vw; */
}
/* having padding-inline on our btns within a grid, our text were not centered. we removed it from [class*="btn*] .btn selectors */
.btn-dark {
  /* padding-block: 8px; */
}

/* having padding-inline on our btns within a grid, our text were not centered. we removed it from [class*="btn*] .btn selectors */

.btn-accent {
  font-family: var(--font-family-fraunces);
}

/* [aria-pressed="true"] {
  --bg: var(--color-primary-cyan);
  --fg: var(--color-dark-cyan);
} */

/* 
.btn-light{
    --bg:;
    --fg:;
    
}


 */

/* hide h2 which are title for our section element */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* .visually-hidden{
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px)
} */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
/* hide h2 which are title for our section element */

/* general utilities */

/* general styles */

/* fonts */

h2,
h3,
h4 {
  font-family: var(--font-family-fraunces);
}

.grid-text h3 {
  font-size: 2.3rem;
  line-height: 1.2;
}

.grid-text {
  text-align: center;
  font-family: var(--font-family-fraunces);
  padding: 68px;
  padding-inline: 32px;
}

.grid-text p {
  font-size: 1.2rem;
  margin-block-start: 28px;
  margin-block-end: 30px;
  font-family: var(--font-family-barlow);
  color: var(--color-neutral-dark-grayish-blue);
  line-height: 1.7;
}

@media screen and (min-width: 84.375rem) {
}

/* general styles */

/* individual sections */

/* header */

header[role="banner"] {
  background-image: url("images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 100%; */
}

@media screen and (min-width: 84.375rem) {
  header[role="banner"] {
    background-image: url("images/desktop/image-header.jpg");
  }
}

section[id="header-content"] {
  /* min-height: 100%; */
  padding: 32px;
  padding-block-start: 42px;
  text-align: center;
  padding-block-end: 135px;
}

/* navbar */

.navbars-img-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[id="hamburger-menu-icon"] {
  background: transparent;
}

[aria-labelledby="desktop-navbar"],
[aria-labelledby="mobile-navbar"] {
  display: none;
}

/* show nav mobile menu */

[aria-pressed="true"] + div[aria-hidden] {
  display: revert;
}

/* mobile menu */

[aria-labelledby="mobile-navbar"]::before {
  content: "";
  display: inline-block;
  border-width: 16px;
  border-style: solid;
  position: absolute;
  right: 0px;
  top: -32px;

  border-left-color: transparent;
  border-right-color: var(--color-neutral-white);
  border-top-color: transparent;
  border-bottom-color: var(--color-neutral-white);
}

[aria-labelledby="mobile-navbar"] {
  background-color: var(--color-neutral-white);
  color: var(--color-neutral-dark-grayish-blue);
  font-family: var(--font-family-barlow);
  font-size: 1.3rem;
  position: fixed;
  top: 138px;
  left: 32px;
  right: 32px;
  padding-block: 28px;
  padding-block-end: 48px;
}

[aria-labelledby="mobile-navbar"] [role="menu"] > li > a:focus,
[aria-labelledby="mobile-navbar"] [role="menu"] > li > a:hover {
  outline-offset: 5px;
  outline: 2px solid cornflowerblue;
}

[aria-labelledby="mobile-navbar"] [role="menu"] > li > a {
  display: inline-block;
}

[aria-labelledby="mobile-navbar"] [role="menu"] > li:not(:last-child) > a {
  padding-block: 24px;
}

[aria-labelledby="mobile-navbar"] [role="menu"] > li:not(:last-child) a {
  width: 100%;
}

[aria-labelledby="mobile-navbar"] [role="menu"] > li:last-child a {
  margin-top: 12px;
}

a[class="btn-accent"] {
  font-family: var(--font-family-fraunces);
  color: var(--color-neutral-black);
  font-size: 1.15rem;
  border-radius: 100vw;
  padding: 16px;
  padding-inline: 20px;
  background-color: var(--color-primary-yellow);
}

/* navbar */

.header-title {
  font-size: 2.7rem;
  line-height: 1.3;
  color: var(--color-neutral-white);
  letter-spacing: 5px;
  margin-block-start: 86px;
  margin-block-end: 48px;
}

[id="arrow-img-container"] {
  display: inline-block;
}
/* main content */

/* grid-images */

[id="egg-yellow-bg"],
[id="cuppop-pink-bg"] {
  padding-block: 204px;
}

[id="egg-yellow-bg"],
[id="cuppop-pink-bg"],
[id="cherry-teal-bg"],
[id="orange-blue-bg"] {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

[id="egg-yellow-bg"] {
  background-image: url("images/mobile/image-transform.jpg");
}

[id="cuppop-pink-bg"] {
  background-image: url("images/mobile/image-stand-out.jpg");
}

[id="cherry-teal-bg"] {
  background-image: url("images/mobile/image-graphic-design.jpg");
}
[id="orange-blue-bg"] {
  background-image: url("images/mobile/image-photography.jpg");
}

/* bar below LEARN MORE */

.grid-text a {
  font-size: 1.2rem;
  position: relative;
}

.grid-text a::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: -8px;
  bottom: 0;
  top: 12px;
  right: -8px;
  border-radius: 100vw;
  transform: translateY(3px);
  display: inline-block;
}

.grid-text[id="transform"] a::after {
  background-color: var(--color-yellow-bar);
}

.grid-text[id="stand-out"] a::after {
  background-color: var(--color-red-bar);
}

@media screen and (min-width: 84.375rem) {
  [id="egg-yellow-bg"] {
    background-image: url("images/desktop/image-transform.jpg");
  }
  [id="cuppop-pink-bg"] {
    background-image: url("images/desktop/image-stand-out.jpg");
  }
  [id="cherry-teal-bg"] {
    background-image: url("images/desktop/image-graphic-design.jpg");
  }
  [id="orange-blue-bg"] {
    background-image: url("images/desktop/image-photography.jpg");
  }
}

/* separator images-grid */

[id="milk-sky"] {
  background-image: url("images/mobile/image-gallery-milkbottles.jpg");
}
[id="plate-orange-piece"] {
  background-image: url("images/desktop/image-gallery-orange.jpg");
}
[id="waffle-cone"] {
  background-image: url("images/desktop/image-gallery-cone.jpg");
}
[id="stack-sugars"] {
  background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
}

@media screen and (min-width: 84.375rem) {
  [id="milk-sky"] {
    background-image: url("images/desktop/image-gallery-milkbottles.jpg");
  }
  [id="plate-orange-piece"] {
    background-image: url("images/desktop/image-gallery-orange.jpg");
  }
  [id="waffle-cone"] {
    background-image: url("images/desktop/image-gallery-cone.jpg");
  }
  [id="stack-sugars"] {
    background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
  }
}

/* individual sections */
