@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --clr-primary-red: hsl(0, 36%, 70%);
  --clr-secondary-red: hsl(0, 93%, 68%);
  --clr-neutral-red: hsl(0, 6%, 24%);

  --clr-linear-grad: 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
  --clr-linear-secondary-grad: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);
  --ff-Josefin: "Josefin Sans";

  --fs-200: 0.9375rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.5rem;
  --fs-600: 1.75rem;
  --fs-700: 2rem;

  --fw-200: 200;
  --fw-400: 400;
  --fw-500: 500;

  --spacer-xxs: 0.5rem;
  --spacer-xs: 0.8rem;
  --spacer-s: 1rem;
  --spacer-m: 1.5rem;
  --spacer-l: 2rem;
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
body {
  margin: 0;
  /* figure, dl, and dd have default margin */
  /* font-weight: 100; */
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

p {
  line-height: 1.4;
  font-size: var(--fs-400);
}

a {
  text-decoration: none;
  color: var(--link-fg, var(--clr-neutral-900));
  font-weight: var(--fw-700);
  font-size: var(--fs-300);
}

img {
  /* using object-fit for images. we have to set a height or a min-height on the image and the width of 100% 
  exception to the rule of setting a height. we can sometime use it on a child element.
  */
  max-width: 100%;
  /* we use max-width: 100% so when we have an img element inside of a div and we want to use flex which means the div will be a flex item
    the img will shrink and grow as its parent element shrink and grows
    */
  display: block;
  height: auto;
}

/* ul[class],
li[class] {
  list-style: none;
  padding: 0;
} */

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  line-height: 1.5;
  font-family: var(--ff-Josefin);
}

/* reset */

/* utilities */

.columns {
  display: flex;
  flex-flow: column;
}

.columns > * {
  flex-basis: 100%;
}

.columns > * + * {
  margin: var(--gap, 1rem) 0 0 0;
}

[class*="col-"] {
  flex-basis: var(--percent-col, 100%);
}

.col-1 {
  --percent-col: 25%;
}
.col-2 {
  --percent-col: 50%;
}
.col-3 {
  --percent-col: 75%;
}

.flow-content > * + * {
  margin: var(--flow-gap, 1em) 0 0 0;
}

[class*="bg-"] {
  background-color: var(--bg, #fff);
  color: var(--fg, #000);
}

.bg-light {
}

.bg-dark {
}

.bg-accent {
}

/* hide h2 which are title for our section element */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* hide h2 which are title for our section element */

/* utilities */

/* typography */

/* typography */

/* general layout */

/* general layout */

/* general styles */

.landing-content {
  /* display: flex;
  flex-flow: column; */
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr; */
  grid-template-areas:
    "img-container"
    "bg-img-container"
    "texts-container";
}

@media screen and (min-width: 68.75rem) {
  .landing-content {
    grid-template-columns: 40rem 1fr;
    background-image: url("images/bg-pattern-desktop.svg");
    background-size: 43rem;
    background-repeat: no-repeat;
    /* background-position: -10rem -15rem; */
    grid-template-areas:
      "img-container bg-img-container"
      "texts-container bg-img-container";
  }
}

/* .landing-content > * {
  flex-basis: 100%;
} */

.landng-content-img-container {
  max-width: 11rem;
  padding: 2em;
  grid-area: img-container;
}

.landing-content-texts-container {
  color: var(--clr-primary-red);
  text-align: center;
  padding: 4em 2.2em;
  --flow-gap: calc(1rem + 0.5rem);
  order: 1;
  grid-area: texts-container;
}

.landing-content-bg-img-container {
  min-height: 15rem;
  background-image: url("images/hero-mobile.jpg");
  background-size: cover;
  grid-area: bg-img-container;
}

@media screen and (min-width: 68.75rem) {
  .landng-content-img-container {
    max-width: 20rem;
    padding: 3em 0 0 8em;
  }
  .landing-content-texts-container {
    text-align: left;
    padding: 2.2em 8em;
  }
  .landing-content-bg-img-container {
    background-image: url("images/hero-desktop.jpg");
    height: 100vh;
  }
}

.landing-content-texts-title {
  text-transform: uppercase;
  font-size: calc(var(--fs-700) + 1rem);
  letter-spacing: 0.6rem;
  font-weight: var(--fw-200);
}

.highlighted {
  color: #000;
}

.landing-content-texts-description {
  padding: 2rem 0;
  font-size: 0.9rem;
  line-height: 1.7;
}

@media screen and (min-width: 68.75rem) {
  .landing-content-texts-title {
    font-size: calc(var(--fs-700) + 2.1rem);
    letter-spacing: 1.1rem;
  }
  .highlighted {
    font-weight: var(--fw-500);
  }
  .landing-content-texts-description {
    font-size: calc(var(--fs-300) + 0.1rem);
  }
}

input[type="email"] {
  min-width: 100%;
  padding: 1em 2em;
  border: 0.2px solid black;
}



input:required {
  box-shadow: none;
}

.button-container,
input[type="email"] {
  border-radius: 100vw;
}

.button-container {
  position: relative;
  min-width: 100%;
  padding: 0;
}

/* invalid and valid state */

input[type="email"]:invalid{
    border: 2px solid red;
}

input[type="email"]:invalid ~ .invalid-message{
    opacity: 1;
}

input[type="email"]:invalid ~ .error-img-container{
    opacity: 1;
}

input[type="email"]:valid ~ .error-img-container{
    opacity: 0;
}

input[type="email"]:valid ~ .invalid-message{
    opacity: 0;
}

.invalid-message{
    position: absolute;
    display: inline-block;
    margin: .5rem 0 0 2em;
    left: 0;
    bottom: -30px;
}



.error-img-container {
    position: absolute;
    bottom: -28px;
}

@media screen and (min-width: 75rem){
  .error-img-container {
      transform: translate(17em, -2.9em)
  }
}



/* invalid and valid state */

/* looking to get rid of the outline */
input[type="email"]:focus{
    outline: 2px solid black;
}

.email-btn {
  width: 4.1em;
  height: 100%;
  display: inline-flex;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  position: absolute;
  right: 0;
  justify-content: center;
  box-shadow: 0 1em 1em rgba(255, 255, 255, 0.4);
  border-radius: 100vw;
  border: 0;
}

.email-arrow-icon {
  align-self: center;
}


@media screen and (min-width: 68.75rem) {
  .email-btn {
    width: 5.1em;
  }
}

.

/* general styles */

/* individual sections */

/* individual sections */
