@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

:root {
  --clr-primary-cyan: hsl(176, 50%, 47%);
  --clr-primary-dark-cyan: hsl(176, 72%, 28%);

  --clr-black: hsl(0, 0%, 0%);
  --clr-neutral-gray: hsl(0, 0%, 48%);

  --fs-200: 0.9375rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.5rem;
  --fs-600: 1.75rem;
  --fs-700: 2rem;

  --spacer-xxs: 0.5rem;
  --spacer-xs: 0.8rem;
  --spacer-s: 1rem;
  --spacer-m: 1.5rem;
  --spacer-l: 2rem;

  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --ff-commissioner: "Commissioner", sans-serif;
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
body,
ul {
  margin: 0;
  /* figure, dl, and dd have default margin */
  /* font-weight: 100; */
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--link-fg, var(--clr-neutral-900));
  font-weight: var(--fw-700);
  font-size: var(--fs-300);
}

a:hover,
a:focus {
  text-decoration: underline;
}

img {
  /* using object-fit for images. we have to set a height or a min-height on the image and the width of 100% 
  exception to the rule of setting a height. we can sometime use it on a child element.
  */
  max-width: 100%;
  /* we use max-width: 100% so when we have an img element inside of a div and we want to use flex which means the div will be a flex item
    the img will shrink and grow as its parent element shrink and grows
    */
  display: block;
  height: auto;
}

ul[class],
li[class] {
  list-style: none;
  padding: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  border: none;
}

/* button {
  border: none;
}

button,
input {
  display: block;
} */

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* reset */

/* utilities */

/* container wrapper */

.max-width {
  /* or the width we want our container/parent element to be */
  max-width: 350px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  /* padding-inline-start: 16px;
  padding-inline-end: 16px; */
}

/* container wrapper */

html,
body {
  height: 100%;
}

.flow-content > * + * {
  margin-top: var(--gap, 16px) 0 0 0;
}

.columns {
  display: flex;
  flex-flow: column;
}

.columns > * {
  flex: 1 1 100%;
}

.columns > * + * {
  margin-top: var(--flex-gap, 16px) 0 0 0;
}

[class*="bg-"] {
  background-color: var(--bg, hsl(0, 100%, 100%));
  color: var(--fg, hsl(0, 0%, 0%));
}

[class*="btn-"] {
  background-color: var(--btn-bg, hsl(0, 0%, 0%));
  color: var(--btn-fg, hsl(0, 100%, 100%));
  padding: 0.8em 2em;
  border-radius: 100vw;
}

.btn-light {
  font-weight: var(--fw-700);
  --btn-bg: var(--clr-primary-cyan);
  color: hsl(0, 0%, 100%);
}

.btn-faded {
  --btn-bg: var(--clr-neutral-gray);
  color: hsl(0, 0%, 100%);
}

/* hide h2 which are title for our section element */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hide {
  display: none;
}

@media screen and (min-width: 1200px) {
  .hide-off-left {
    overflow: visible;
  }
}

/* hide h2 which are title for our section element */

/* accessibility */

a:focus,
a:hover {
  width: 100%;
}

.hamburger:focus,
a:focus,
a:hover {
  outline-offset: -3px;
  outline: 3px dashed hsl(0, 0%, 0%);
}
/* accessibility */

.center-negative-margin {
  width: min-content;
}

.flex-wrapper {
  display: flex;
}

.highlight {
  color: var(--clr-primary-cyan);
}

/* utilities */

/* general styles */

body {
  font-family: var(--ff-commissioner);
  line-height: 2;
}

p {
  color: var(--clr-neutral-gray);
}

main {
  background-color: hsl(0, 100%, 99%);
  padding: 0.01px 16px 32px;
}

.fundriser-name,
.progress-tracker,
.project-info-backing {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid rgb(206, 200, 200);
  border-radius: 8px;
}

.margin-left-auto {
  margin-inline-start: auto;
}

.center-with-margin {
  margin: auto;
}

.dollar-amount span,
.backers span,
.duration span {
  display: block;
}

.bold-large-text {
  font-size: var(--fs-700);
  font-weight: var(--fw-700);
}

.faded-text {
  color: var(--clr-neutral-gray);
}

.self-center {
  align-self: center;
}

.margin-left {
  margin-left: 12px;
}

.margin-top {
  margin-top: 28px;
}

.margin-top-bottom {
  margin-top: 28px;
  margin-bottom: 28px;
}
/* general styles */

/* general layout */

/* general layout */

/* specific element */

.back-project-btn {
  padding: 16px 48px;
  margin-inline-end: auto;
}

/* specific element */

/* individual sections */

/* header */

header {
  height: 40%;
}

.hero {
  background-image: url("images/image-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 16px;
}

@media screen and (min-width: 90rem) {
  .hero {
    background-image: url("images/image-hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 16px;
  }
}

/* navbar */

.headernav {
  display: flex;
  position: relative;
}

.nav-list {
  position: absolute;
  display: flex;
  width: 100%;
  flex-flow: column;
  top: 38px;
  left: 0;
  border: 1px solid rgb(206, 200, 200);
  border-radius: 8px;
  overflow: hidden;
}

.nav-links {
  font-size: 1.2rem;
  background-color: hsl(0, 100%, 100%);
  display: block;
  padding: 16px;
}

.nav-items:nth-of-type(2) {
  border-top: 1px solid rgb(206, 200, 200);
  border-bottom: 1px solid rgb(206, 200, 200);
}

.img-container {
  background-color: transparent;
}

.hide-off-left {
  position: absolute;
  top: -9999px;
  left: -9999px;
  overflow: hidden;
}

@media screen and (min-width: 90rem) {
  .nav-list {
    position: static;
    flex-flow: row;
    border: none;
    /* overflow: visible; */
  }
  .nav-list > li:not(:last-child) {
    margin-inline-end: 16px;
  }
  /* make toggle button hidden */
  .headernav button.img-container {
    display: none;
  }
  .nav-links {
    font-size: calc(var(--fs-200) - 0.1rem);
    padding: 0;
    background-color: transparent;
    color: hsl(0, 0%, 100%);
  }
  .nav-items:nth-of-type(2) {
    border-bottom: none;
    border-top: none;
  }
}
/* navbar */

/* header */

/* fundriser-name */

.letter-m-logo {
  margin-block-start: -28px;
  margin-block-end: 32px;
}

.primary-title {
  font-size: var(--fs-500);
}

.fundriser-name {
  margin-block-start: -56px;
  padding: 0 24px 40px;
  text-align: center;
}

.fundriser-name p {
  font-size: var(--fs-200);
  /* color: var(--clr-neutral-gray); */
  margin-block: 24px;
}

.fundriser-name button:last-of-type {
  background-color: transparent;
}

/* fundriser-name */

/* progress-tracker */

.progress-tracker {
  margin-block: 16px;
}

.tracker-container .backers {
  border-top: 1px solid rgb(206, 200, 200);
  border-bottom: 1px solid rgb(206, 200, 200);
  width: 120px;
  margin-inline: auto;
}

/* tracker container */

.tracker-container {
  text-align: center;
  padding: 16px 24px 32px;
}

.dollar-amount,
.backers,
.duration {
  padding-block-end: 16px;
}

.backers,
.duration {
  padding-block-start: 8px;
}
progress {
  width: 100%;
}
/* progress-tracker */

/* project-info-backing */

.project-info-backing {
  padding: 40px 24px 32px;
}

/* .project-info-backing p {
  color: var(--clr-neutral-gray);
} */

.individual-pledge {
  border: 1px solid hsl(0, 3.9%, 64.5%);
  border-radius: 8px;
  padding: 32px 24px 24px;
}

/* project-info-backing */

/* modal */

.default-dialog {
  padding: 40px 28px;
  border: 1px solid var(--clr-neutral-gray);
}

.dialog-label {
  font-size: 1.4rem;
}

[aria-label="close modal"] {
  align-self: flex-end;
}

.modal-pledge {
  border: 1px solid var(--clr-neutral-gray);
  border-radius: 8px;
  padding: 32px 28px;
}

.modal-pledge:not(:first-of-type) {
  margin-block-start: 24px;
}

/* modal complete */

.default-dialog-completed {
  border: 1px solid var(--clr-neutral-gray);
  border-radius: 8px;
  padding: 24px 32px;
  text-align: center;
}

.default-dialog-completed h2 {
  margin-block-start: 32px;
}

.default-dialog-completed p {
  margin-block: 32px;
}

.default-dialog-completed img {
  margin: 0 auto;
}

.default-dialog-completed .btn-light {
  padding: 8px 24px;
}

/* pledge-title-amount-quantity */

.pledge-title-amount-quantity {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "radio title title title title title"
    "radio amount amount amount amount amount"
    "paragraph paragraph paragraph paragraph paragraph paragraph"
    "quantity quantity . . . .";
}

.separator {
  display: block;
  height: 1px;
  margin-block: 16px;
  margin-inline: -28px;
  background-color: var(--clr-neutral-gray);
}

.pledge-title-amount-quantity input {
  grid-area: radio;
  margin: 0;
  margin-inline-end: 22px;
}
.pledge-title-amount-quantity label {
  grid-area: title;
  font-weight: var(--fw-700);
}
.pledge-title-amount-quantity .pledge-amount {
  font-weight: var(--fw-700);
  grid-area: amount;
}
.pledge-title-amount-quantity .pledge-quantity {
  grid-area: quantity;
  font-size: var(--fs-400);
}

.pledge-quantity span:first-child {
  font-weight: var(--fw-600);
  margin-inline-end: 8px;
}

.pledge-quantity span:last-child {
  color: var(--clr-neutral-gray);
  font-size: var(--fs-300);
  align-self: center;
}

.pledge-title-amount-quantity p {
  grid-area: paragraph;
}

/* pledge-title-amount-quantity */

/* modal complete */
/* selected-pledge */

.selected-pledge {
  text-align: center;
}

.selected-pledge span {
  color: var(--clr-neutral-gray);
  display: block;
  margin-block-end: 16px;
}

.selected-pledge input {
  padding: 0;
  border-radius: 100vw;
  border-color: var(--clr-neutral-gray);
  width: 120px;
  height: 48px;
  text-align: center;
  margin-inline-end: auto;
}

.selected-pledge button {
  padding: 0;
  width: 120px;
  height: 48px;
  margin-inline-start: auto;
}

/* selected-pledge */
/* modal */

/* individual sections */
